:root {
  --image-linear-gradient-scrim-bottom-dark: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.002) 0.8%,
    rgba(0, 0, 0, 0.008) 4.8%,
    rgba(0, 0, 0, 0.021) 9%,
    rgba(0, 0, 0, 0.042) 13.9%,
    rgba(0, 0, 0, 0.075) 19.8%,
    rgba(0, 0, 0, 0.126) 27%,
    rgba(0, 0, 0, 0.194) 35%,
    rgba(0, 0, 0, 0.278) 43.5%,
    rgba(0, 0, 0, 0.382) 53%,
    rgba(0, 0, 0, 0.541) 66%,
    rgba(0, 0, 0, 0.738) 81%,
    rgba(0, 0, 0, 1) 100%
  );
}

.msrd .msrd-Image {
  background-color: color-mix(in srgb, var(--color-brand) 8%, transparent);
  inline-size: 100%;
}

.msrd .msrd-Image-img {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
}

.msrd .msrd-Image--scrimBottomDark {
  position: relative;
}

.msrd .msrd-Image--scrimBottomDark::after {
  background-image: var(--image-linear-gradient-scrim-bottom-dark);
  content: "";
  inset: 0;
  position: absolute;
}

.msrd .msrd-Image--cover {
  block-size: 100%;
  overflow: hidden;
  position: relative;
}

.msrd .msrd-Image--cover .msrd-Image-img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.msrd .msrd-Image--anchorN .msrd-Image-img {
  object-position: 50% 0;
}

.msrd .msrd-Image--anchorNE .msrd-Image-img {
  object-position: 100% 0;
}

.msrd .msrd-Image--anchorE .msrd-Image-img {
  object-position: 100% 50%;
}

.msrd .msrd-Image--anchorSE .msrd-Image-img {
  object-position: 100% 100%;
}

.msrd .msrd-Image--anchorS .msrd-Image-img {
  object-position: 50% 100%;
}

.msrd .msrd-Image--anchorSW .msrd-Image-img {
  object-position: 0 100%;
}

.msrd .msrd-Image--anchorW .msrd-Image-img {
  object-position: 0 50%;
}

.msrd .msrd-Image--anchorNW .msrd-Image-img {
  object-position: 0 0;
}

.msrd .msrd-Image--anchorC .msrd-Image-img {
  object-position: 50% 50%;
}
