.clbr .msrd-Image {
  background-color: color-mix(in srgb, var(--clbr-color-brand-primary) 8%, transparent);
  inline-size: 100%;
}

.clbr .msrd-Image-img {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
}

.clbr .msrd-Image--cover {
  block-size: 100%;
  overflow: hidden;
  position: relative;
}

.clbr .msrd-Image--cover .msrd-Image-img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.clbr .msrd-Image--anchorN .msrd-Image-img {
  object-position: 50% 0;
}

.clbr .msrd-Image--anchorNE .msrd-Image-img {
  object-position: 100% 0;
}

.clbr .msrd-Image--anchorE .msrd-Image-img {
  object-position: 100% 50%;
}

.clbr .msrd-Image--anchorSE .msrd-Image-img {
  object-position: 100% 100%;
}

.clbr .msrd-Image--anchorS .msrd-Image-img {
  object-position: 50% 100%;
}

.clbr .msrd-Image--anchorSW .msrd-Image-img {
  object-position: 0 100%;
}

.clbr .msrd-Image--anchorW .msrd-Image-img {
  object-position: 0 50%;
}

.clbr .msrd-Image--anchorNW .msrd-Image-img {
  object-position: 0 0;
}

.clbr .msrd-Image--anchorC .msrd-Image-img {
  object-position: 50% 50%;
}
