.clbr .msrd-Banner {
  aspect-ratio: 4 / 3;
}

@media (width >= 48em) {
  .clbr .msrd-Banner {
    aspect-ratio: 2 / 1;
  }
}

@media (width >= 64em) {
  .clbr .msrd-Banner {
    aspect-ratio: 412 / 135;
  }
}
