/**
 * NewIdentity base
 */

.msrd:has(.msrd-NewIdentity) {
  background-color: var(--color-background-emphasis);

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-background);
    background-image: linear-gradient(
      var(--color-background-emphasis),
      var(--color-background-emphasis)
    );
  }
}

@media (hover: hover) {
  .msrd .msrd-NewIdentity a:not([class]):hover {
    text-decoration: underline;
    text-decoration-thickness: 0.09em;
    text-underline-offset: 0.34em;
  }
}

/**
 * NewIdentity surfaces
 */

.msrd .msrd-NewIdentity-surfaceDark {
  --color-background: var(--color-azure-04);
  --color-text: var(--color-white);
  --color-text-muted: hotpink;
  background-color: var(--color-background);
  color: var(--color-text);
}

.msrd .msrd-NewIdentity-surfaceLight {
  --color-background: var(--color-azure-07);
  --color-text: var(--color-white);
  --color-interactive: var(--color-azure-01);
  --color-interactive-focus: var(--color-azure-03);
  --color-interactive-hover: var(--color-azure-02);
  --color-interactive-active: var(--color-azure-03);
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-04-size);
  font-weight: 500;
  line-height: var(--font-04-line-height);

  @media (prefers-color-scheme: dark) {
    --color-text: var(--color-grey-03);
    --color-interactive: var(--color-white);
    --color-interactive-hover: color-mix(
      in srgb,
      var(--color-white) 96%,
      transparent
    );
    --color-interactive-active: color-mix(
      in srgb,
      var(--color-white) 88%,
      transparent
    );
  }
}

/**
 * NewIdentity images
 */

.msrd .msrd-NewIdentity-image,
.msrd .msrd-NewIdentity-imageLarge {
  --border-radius: calc((8 / 16) * 1rem);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light-source);
  display: inline-block;
  line-height: 0;
}

.msrd .msrd-NewIdentity-imageLarge {
  --border-radius: calc((30 / 16) * 1rem);
}

.msrd .msrd-NewIdentity-image img,
.msrd .msrd-NewIdentity-imageLarge img {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 0 auto;
}

/**
 * NewIdentity paragraphs
 */

.msrd .msrd-NewIdentity p:not(.msrd-Paragraph) {
  font-size: var(--font-03-size);
  line-height: var(--font-03-line-height);
  margin: 0;
  max-inline-size: 35em;
  text-wrap: pretty;
}

.msrd .msrd-NewIdentity p.msrd-NewIdentity-callout {
  margin: 0 auto;
  max-inline-size: 46em;
  text-align: center;
}

.msrd .msrd-NewIdentity p.msrd-NewIdentity-standfirst {
  font-size: var(--font-05-size);
  font-style: italic;
  font-weight: 400;
  line-height: var(--font-05-line-height);
  margin: 0 auto;
  max-inline-size: 38em;
  text-align: center;
}

.msrd .msrd-NewIdentity-surfaceLight .msrd-NewIdentity-callout {
  font-size: calc((18.66 / 16) * 1rem) !important;
}

/**
 * NewIdentity utilities
 */

.msrd .msrd-u-NewIdentity-hiddenMobile {
  display: none;

  @media (min-width: 48em) {
    display: block;
  }
}

/**
 * NewIdentity hero
 */

.msrd .msrd-NewIdentity-hero {
  overflow: hidden;
  position: relative;
}

.msrd .msrd-NewIdentity-hero::before {
  background-image: url(https://res.cloudinary.com/measuredco/image/upload/f_auto,q_auto/v1740564389/site/hero-bg_oc1h9z.png);
  background-position: 100% top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  content: "";
  inset: 0;
  position: absolute;

  @media (min-width: 48em) {
    background-position: initial;
    inset-block-end: -4%;
    inset-inline-start: 53.5%;
  }

  @media (min-width: 53em) {
    inset-block-end: 0;
  }

  @media (min-width: 60em) {
    inset-inline-start: 63%;
  }

  @media (min-width: 121.75em) {
    background-image: url(https://res.cloudinary.com/measuredco/image/upload/f_auto,q_auto/v1740564389/site/hero-bg_oc1h9z.png),
      linear-gradient(to right, transparent 75%, var(--color-azure-03) 75%);
  }
}

:dir(rtl) .msrd .msrd-NewIdentity-hero::before,
.translated-rtl .msrd .msrd-NewIdentity-hero::before {
  transform: scaleX(-1);
}

/**
 * NewIdentity next
 */

.msrd .msrd-NewIdentity-next {
  padding-inline-end: var(--space-horizontal);

  @media (min-width: 80em) {
    padding-inline-end: 0;
  }
}

/**
 * NewIdentity offset
 */

.msrd .msrd-NewIdentity-offset {
  margin-block-start: var(--space-vertical-07);

  @media (min-width: 50em) {
    margin-block-start: var(--space-vertical-08);
  }

  @media (min-width: 80em) {
    inset-block-start: calc((-108 / 16) * 1rem);
    margin-block-end: calc((-108 / 16) * 1rem);
    margin-block-start: 0;
    position: relative;
  }
}

/**
 * NewIdentity process
 */

.msrd .msrd-NewIdentity-process {
  margin-block-end: var(--space-vertical);
  margin-inline: auto;
  max-inline-size: calc((705 / 16) * 1rem);

  @media (min-width: 50em) {
    margin-block-end: var(--space-vertical-07);
  }

  @media (min-width: 80em) {
    margin-block-end: 0;
    max-inline-size: 28.1875em;
  }
}
