.clbr .msrd-Card {
  background-color: var(--clbr-color-background-panel);
  block-size: 100%;
  border-radius: var(--clbr-radius-lg);
  box-shadow: none;
  color: var(--clbr-color-foreground-default);
  display: flex;
  inline-size: 100%;
  position: relative;
}

.clbr .msrd-Card-inner {
  border-radius: var(--clbr-radius-lg);
  box-shadow: var(--clbr-effect-shadow-default);
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-block: var(--clbr-spacing-vertical-800);
  padding-inline: var(--clbr-spacing-horizontal-800);
}

.clbr .msrd-Card::after {
  border: solid var(--clbr-layout-border-width-default)
    var(--clbr-color-border-brand);
  border-radius: var(--clbr-radius-lg);
  content: "";
  inset-block: var(--clbr-effect-stroke-outset) var(--clbr-effect-stroke-inset);
  inset-inline: var(--clbr-effect-stroke-outset) var(--clbr-effect-stroke-inset);
  pointer-events: none;
  position: absolute;
  transition: var(--clbr-motion-duration-50)
    var(--clbr-motion-easing-ease-in-out);
}

.clbr .msrd-Card a {
  color: inherit;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.clbr .msrd-Card a:focus-visible {
  outline: none;
}

.clbr .msrd-Card a:hover,
.clbr .msrd-Card a:active {
  color: inherit;
}

.clbr .msrd-Card:has(.msrd-Card-heading a):has(:focus-visible) {
  outline: var(--clbr-layout-focus-ring-width) solid
    var(--clbr-color-interactive-focus);
  outline-offset: var(--clbr-effect-stroke-inset);
}

.clbr .msrd-Card:has(.msrd-Card-heading a):has(:focus-visible)::after {
  inset: 0;
  transition: none;
}

@media (hover: hover) {
  .clbr .msrd-Card:has(.msrd-Card-heading a) {
    cursor: pointer;
  }

  .clbr .msrd-Card:has(.msrd-Card-heading a):hover::after {
    inset: 0;
    transition: var(--clbr-motion-duration-100)
      var(--clbr-motion-easing-ease-in-out);
  }

  @media (prefers-reduced-motion) {
    .clbr .msrd-Card:has(.msrd-Card-heading a):hover::after {
      inset-block: var(--clbr-effect-stroke-outset)
        var(--clbr-effect-stroke-inset);
      inset-inline: var(--clbr-effect-stroke-outset)
        var(--clbr-effect-stroke-inset);
    }
  }
}

.clbr .msrd-Card:has(.msrd-Card-heading a):active::after {
  inset-block: calc(var(--clbr-effect-stroke-inset) / 2)
    calc(var(--clbr-effect-stroke-outset) / 2);
  inset-inline: calc(var(--clbr-effect-stroke-inset) / 2)
    calc(var(--clbr-effect-stroke-outset) / 2);
}

@media (prefers-reduced-motion) {
  .clbr .msrd-Card:has(.msrd-Card-heading a):active::after {
    inset-block: var(--clbr-effect-stroke-outset)
      var(--clbr-effect-stroke-inset);
    inset-inline: var(--clbr-effect-stroke-outset)
      var(--clbr-effect-stroke-inset);
  }
}

.clbr .msrd-Card-heading {
  font-size: var(--clbr-typography-type-step-500-font-size);
  font-weight: var(--clbr-typography-font-weight-regular-plus);
  line-height: var(--clbr-typography-type-step-500-line-height);
  margin-block: 0;
  text-wrap: balance;
}

.clbr .msrd-Card-heading a {
  color: inherit;
  position: static;

  @media (forced-colors: active) {
    color: CanvasText;
  }
}

.clbr .msrd-Card-heading a:hover,
.clbr .msrd-Card-heading a:active {
  color: inherit;
}

.clbr .msrd-Card-heading a::after {
  content: "";
  inset: 0;
  position: absolute;
}

.clbr .msrd-Card-dots {
  align-items: center;
  block-size: var(--clbr-spacing-horizontal-400);
  display: flex;
  inline-size: var(--clbr-spacing-horizontal-800);
  inset-block-start: var(--clbr-spacing-horizontal-600);
  inset-inline-start: var(--clbr-spacing-horizontal-600);
  justify-content: space-between;
  position: absolute;
}

.clbr .msrd-Card-dots::before,
.clbr .msrd-Card-dots::after,
.clbr .msrd-Card-dotsInner {
  background-color: var(--clbr-color-border-subtle);
  block-size: var(--clbr-spacing-horizontal-400);
  border-radius: 50%;
  content: "";
  inline-size: var(--clbr-spacing-horizontal-400);

  @media (forced-colors: active) {
    background-color: ButtonBorder;
  }
}

@media (hover: hover) {
  .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::before,
  .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dotsInner,
  .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::after {
    background-color: var(--clbr-color-border-brand);

    @media (forced-colors: active) {
      background-color: ButtonBorder;
    }
  }

  .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::before {
    transition: var(--clbr-motion-duration-100)
      var(--clbr-motion-easing-ease-in-out);
  }

  .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dotsInner {
    transition: var(--clbr-motion-duration-200)
      var(--clbr-motion-easing-ease-in-out);
  }

  .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::after {
    transition: var(--clbr-motion-duration-300)
      var(--clbr-motion-easing-ease-in-out);
  }

  @media (prefers-reduced-motion) {
    .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dotsInner {
      transition: var(--clbr-motion-duration-100)
        var(--clbr-motion-easing-ease-in-out);
    }

    .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::after {
      transition: var(--clbr-motion-duration-100)
        var(--clbr-motion-easing-ease-in-out);
    }
  }
}

.clbr .msrd-Card-dots::before {
  inset-inline-start: 0;
  position: absolute;
}

.clbr .msrd-Card-dots::after {
  inset-inline-end: 0;
  position: absolute;
}

.clbr .msrd-Card-dotsInner {
  margin: auto;
  position: relative;
}

.clbr .msrd-Card-note {
  font-family: var(--clbr-typography-font-family-mono);
  font-weight: var(--clbr-typography-font-weight-medium);
  margin-block-start: auto;
}

.clbr .msrd-Card:has(.msrd-Card-heading a) .msrd-Card-note {
  color: var(--clbr-color-interactive-default);

  @media (forced-colors: active) {
    color: LinkText;
  }
}

.clbr .msrd-Card:has(.msrd-Card-heading a) .msrd-Card-note span::after {
  --arrow-offset: 0.25em;

  content: "→";
  font-family: var(--clbr-typography-font-family-default);
  inset-inline-start: var(--arrow-offset);
  position: relative;
}

:dir(rtl)
  .clbr
  .msrd-Card:has(.msrd-Card-heading a)
  .msrd-Card-note
  span::after,
.translated-rtl
  .clbr
  .msrd-Card:has(.msrd-Card-heading a)
  .msrd-Card-note
  span::after {
  content: "←";
}

@media (hover: hover) {
  .clbr .msrd-Card:has(.msrd-Card-heading a) .msrd-Card-note span::after {
    inset-inline-start: 0;
    opacity: 0;
  }

  .clbr .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-note span::after {
    inset-inline-start: var(--arrow-offset);
    opacity: 1;
    transition:
      var(--clbr-motion-duration-100) opacity
        var(--clbr-motion-easing-ease-in-out),
      var(--clbr-motion-duration-200) inset-inline-start
        var(--clbr-motion-easing-ease-in-out);
  }

  @media (prefers-reduced-motion) {
    .clbr
      .msrd-Card:has(.msrd-Card-heading a):hover
      .msrd-Card-note
      span::after {
      transition:
        var(--clbr-motion-duration-100) opacity
          var(--clbr-motion-easing-ease-in-out),
        var(--clbr-motion-duration-0) inset-inline-start
          var(--clbr-motion-easing-ease-in-out);
    }
  }
}
