.msrd .msrd-Card {
  background-color: var(--color-card-background);
  block-size: 100%;
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-light-source);
  color: var(--color-card-text);
  display: flex;
  inline-size: 100%;
  position: relative;
}

.msrd .msrd-Card-inner {
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-block: var(--space-vertical-06);
  padding-inline: var(--space-horizontal-08);
}

.msrd .msrd-Card::after {
  border: solid var(--border-width) var(--color-card-border);
  border-radius: var(--border-radius-card);
  content: "";
  inset-block-end: var(--border-offset-card);
  inset-block-start: calc(0rem - var(--border-offset-card));
  inset-inline-end: var(--border-offset-card);
  inset-inline-start: calc(0rem - var(--border-offset-card));
  pointer-events: none;
  position: absolute;
  transition: 0.05s var(--easing-cubic-bezier-easy-ease);
}

.msrd .msrd-Card a {
  color: inherit;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.msrd .msrd-Card a:focus-visible {
  outline: none;
}

.msrd .msrd-Card a:hover,
.msrd .msrd-Card a:active {
  color: inherit;
}

.msrd .msrd-Card:has(.msrd-Card-heading a):has(:focus-visible) {
  outline: var(--outline-width) solid var(--color-interactive-focus);
  outline-offset: var(--border-offset-card);
}

.msrd .msrd-Card:has(.msrd-Card-heading a):has(:focus-visible)::after {
  inset: 0;
  transition: none;
}

@media (hover: hover) {
  .msrd .msrd-Card:has(.msrd-Card-heading a) {
    cursor: pointer;
  }

  .msrd .msrd-Card:has(.msrd-Card-heading a):hover::after {
    inset: 0;
    transition: 0.1s var(--easing-cubic-bezier-easy-ease);
  }

  @media (prefers-reduced-motion) {
    .msrd .msrd-Card:has(.msrd-Card-heading a):hover::after {
      inset-block-end: var(--border-offset-card);
      inset-block-start: calc(0rem - var(--border-offset-card));
      inset-inline-end: var(--border-offset-card);
      inset-inline-start: calc(0rem - var(--border-offset-card));
    }
  }
}

.msrd .msrd-Card:has(.msrd-Card-heading a):active::after {
  inset-block-end: calc(0rem - var(--border-offset-card) / 2);
  inset-block-start: calc(var(--border-offset-card) / 2);
  inset-inline-end: calc(0rem - var(--border-offset-card) / 2);
  inset-inline-start: calc(var(--border-offset-card) / 2);
}

@media (prefers-reduced-motion) {
  .msrd .msrd-Card:has(.msrd-Card-heading a):active::after {
    inset-block-end: var(--border-offset-card);
    inset-block-start: calc(0rem - var(--border-offset-card));
    inset-inline-end: var(--border-offset-card);
    inset-inline-start: calc(0rem - var(--border-offset-card));
  }
}

.msrd .msrd-Card-heading {
  font-size: var(--font-05-size);
  font-weight: 433;
  line-height: var(--font-05-line-height);
  margin-block: 0;
}

.msrd .msrd-Card-heading a {
  color: inherit;
  position: static;
}

.msrd .msrd-Card-heading a:hover,
.msrd .msrd-Card-heading a:active {
  color: inherit;
}

.msrd .msrd-Card-heading a::after {
  content: "";
  inset: 0;
  position: absolute;
}

.msrd .msrd-Card-dots {
  align-items: center;
  block-size: var(--space-horizontal-03);
  display: flex;
  inline-size: var(--space-horizontal-07);
  inset-block-start: var(--space-horizontal-05);
  inset-inline-start: var(--space-horizontal-05);
  justify-content: space-between;
  position: absolute;
}

.msrd .msrd-Card-dots::before,
.msrd .msrd-Card-dots::after,
.msrd .msrd-Card-dotsInner {
  background-color: var(--color-card-dots);
  block-size: var(--space-horizontal-03);
  border-radius: 50%;
  content: "";
  inline-size: var(--space-horizontal-03);
}

@media (hover: hover) {
  .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::before,
  .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dotsInner,
  .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::after {
    background-color: var(--color-card-dots-hover);
  }

  .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::before {
    transition: 0.1s var(--easing-cubic-bezier-easy-ease);
  }

  .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dotsInner {
    transition: 0.2s var(--easing-cubic-bezier-easy-ease);
  }

  .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::after {
    transition: 0.3s var(--easing-cubic-bezier-easy-ease);
  }

  @media (prefers-reduced-motion) {
    .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dotsInner {
      transition: 0.1s var(--easing-cubic-bezier-easy-ease);
    }

    .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-dots::after {
      transition: 0.1s var(--easing-cubic-bezier-easy-ease);
    }
  }
}

.msrd .msrd-Card-dots::before {
  inset-inline-start: 0;
  position: absolute;
}

.msrd .msrd-Card-dots::after {
  inset-inline-end: 0;
  position: absolute;
}

.msrd .msrd-Card-dotsInner {
  margin: auto;
  position: relative;
}

.msrd .msrd-Card-note {
  font-weight: 466;
  font-family: var(--font-family-monospaced);
  margin-block-start: auto;
}

.msrd .msrd-Card:has(.msrd-Card-heading a) .msrd-Card-note {
  color: var(--color-card-interactive);
}

.msrd .msrd-Card:has(.msrd-Card-heading a) .msrd-Card-note span::after {
  --arrow-offset: 0.25em;
  content: "→";
  font-family: var(--font-family);
  inset-inline-start: var(--arrow-offset);
  position: relative;
}

:dir(rtl)
  .msrd
  .msrd-Card:has(.msrd-Card-heading a)
  .msrd-Card-note
  span::after,
.translated-rtl
  .msrd
  .msrd-Card:has(.msrd-Card-heading a)
  .msrd-Card-note
  span::after {
  content: "←";
}

@media (hover: hover) {
  .msrd .msrd-Card:has(.msrd-Card-heading a) .msrd-Card-note span::after {
    inset-inline-start: 0;
    opacity: 0;
  }

  .msrd .msrd-Card:has(.msrd-Card-heading a):hover .msrd-Card-note span::after {
    inset-inline-start: var(--arrow-offset);
    opacity: 1;
    transition: 0.1s opacity var(--easing-cubic-bezier-easy-ease),
      0.2s inset-inline-start var(--easing-cubic-bezier-easy-ease);
  }

  @media (prefers-reduced-motion) {
    .msrd
      .msrd-Card:has(.msrd-Card-heading a):hover
      .msrd-Card-note
      span::after {
      transition: 0.1s opacity var(--easing-cubic-bezier-easy-ease),
        0s inset-inline-start var(--easing-cubic-bezier-easy-ease);
    }
  }
}

.msrd .msrd-Card--graphic {
  --color-card-background: var(--color-azure-02);
  --color-card-border: var(--color-azure-06);
  --color-card-dots-hover: var(--color-azure-06);
  --color-card-dots: var(--color-azure-04);
  --color-card-interactive: var(--color-azure-08);
  --color-card-text: var(--color-grey-12);
  @media (prefers-color-scheme: dark) {
    --color-card-border: var(--color-azure-05);
    --color-card-dots-hover: var(--color-azure-05);
    --color-card-dots: var(--color-azure-03);
    --color-card-interactive: var(--color-azure-07);
    --color-card-text: var(--color-grey-11);
  }
  background-image: url(https://res.cloudinary.com/measuredco/image/upload/v1732634892/site/site-background-top_v8ll2o.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
