.msrd .msrd-SiteHeaderMenuButton {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  inset-inline-end: calc(-10rem / 16);
  overflow: visible;
  padding: calc(10rem / 16);
  position: relative;
}

@media (prefers-reduced-motion) {
  .msrd .msrd-SiteHeaderMenuButton *,
  .msrd .msrd-SiteHeaderMenuButton *::after,
  .msrd .msrd-SiteHeaderMenuButton *::before {
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

@media (hover: hover) {
  .msrd .msrd-SiteHeaderMenuButton:hover {
    color: var(--color-interactive-neutral-hover);
  }
}

.msrd .msrd-SiteHeaderMenuButton:active {
  color: var(--color-interactive-neutral-active);
}

@media (min-width: 48em) {
  .msrd .msrd-SiteHeaderMenuButton {
    display: none;
  }
}

.msrd .msrd-SiteHeaderMenuButton-box {
  block-size: calc(24rem / 16);
  display: block;
  inline-size: calc(24rem / 16);
  position: relative;
}

.msrd .msrd-SiteHeaderMenuButton-inner,
.msrd .msrd-SiteHeaderMenuButton-inner::before,
.msrd .msrd-SiteHeaderMenuButton-inner::after {
  background-color: currentColor;
  block-size: calc(2rem / 16);
  border-radius: calc(1rem / 16);
  inline-size: calc(24rem / 16);
  position: absolute;

  @media (forced-colors: active) {
    background-color: ButtonText;
  }
}

.msrd .msrd-SiteHeaderMenuButton-inner {
  display: block;
  inset-block-start: 50%;
  transition: transform 0.22s var(--easing-cubic-bezier-reverse-easy-ease);
}

.msrd .msrd-SiteHeaderMenuButton-inner::before,
.msrd .msrd-SiteHeaderMenuButton-inner::after {
  content: "";
  display: block;
}

.msrd .msrd-SiteHeaderMenuButton-inner::before {
  inset-block-start: calc(-8rem / 16);
  transition: inset-block-start 0.1s 0.25s var(--easing-cubic-bezier-ease-in),
    opacity 0.1s var(--easing-cubic-bezier-ease-in);
}

.msrd .msrd-SiteHeaderMenuButton-inner::after {
  inset-block-end: calc(-8rem / 16);
  transition: inset-block-end 0.1s 0.25s var(--easing-cubic-bezier-ease-in),
    transform 0.22s var(--easing-cubic-bezier-reverse-easy-ease);
}

.msrd .msrd-SiteHeaderMenuButton--menuOpen .msrd-SiteHeaderMenuButton-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: var(--easing-cubic-bezier-easy-ease);
}

.msrd
  .msrd-SiteHeaderMenuButton--menuOpen
  .msrd-SiteHeaderMenuButton-inner::before {
  inset-block-start: 0;
  opacity: 0;
  transition: inset-inline-start 0.1s var(--easing-cubic-bezier-ease-out),
    opacity 0.1s 0.12s var(--easing-cubic-bezier-ease-out);
}

.msrd
  .msrd-SiteHeaderMenuButton--menuOpen
  .msrd-SiteHeaderMenuButton-inner::after {
  inset-block-end: 0;
  transform: rotate(-90deg);
  transition: inset-block-end 0.1s var(--easing-cubic-bezier-ease-out),
    transform 0.22s 0.12s var(--easing-cubic-bezier-easy-ease);
}

.msrd .msrd-SiteHeaderMenuButton-text {
  block-size: calc(1rem / 16);
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: calc(1rem / 16);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
