.msrd .msrd-Button {
  align-items: center;
  background-color: var(--color-brand);
  border-radius: 0.5rem;
  color: var(--color-text-inverted);
  display: inline-flex;
  font-weight: 500;
  height: 3rem;
  padding: 0 var(--space-horizontal-07);
}

@media (hover: hover) {
  .msrd .msrd-Button:hover {
    background-color: var(--color-azure-03);
  }
}

.msrd .msrd-Button:active {
  background-color: var(--color-azure-02);
}

@media (prefers-color-scheme: dark) {
  .msrd .msrd-Button {
    background-color: var(--color-brand-inverted);
    color: var(--color-text);
  }

  @media (hover: hover) {
    .msrd .msrd-Button:hover {
      background-color: var(--color-azure-07);
    }
  }

  .msrd .msrd-Button:active {
    background-color: var(--color-azure-08);
  }
}
