.msrd .msrd-Button {
  align-items: center;
  background-color: var(--color-brand);
  border-radius: 1.3125rem;
  color: var(--color-text-inverted);
  display: inline-flex;
  font-weight: 600;
  height: 2.75rem;
  padding: 0 var(--space-horizontal-07);
}

@media (hover: hover) {
  .msrd .msrd-Button:hover {
    background-color: var(--color-rose-2);
  }
}

.msrd .msrd-Button:active {
  background-color: var(--color-rose-1);
}

@media (prefers-color-scheme: dark) {
  .msrd .msrd-Button {
    background-color: var(--color-brand-inverted);
    color: var(--color-text);
  }

  @media (hover: hover) {
    .msrd .msrd-Button:hover {
      background-color: var(--color-rose-6);
    }
  }

  .msrd .msrd-Button:active {
    background-color: var(--color-rose-7);
  }
}
