.msrd .msrd-Profile-imageWrapper {
  --image-size: var(--space-vertical-14);
  border-radius: calc(var(--image-size) * var(--corner-ratio-square));
  box-shadow: var(--box-shadow-light-source);
  margin-bottom: var(--space-vertical-04);
  width: var(--image-size);
}

.msrd .msrd-Profile-image {
  border-radius: calc(var(--image-size) * var(--corner-ratio-square));
  box-shadow: var(--box-shadow);
}

@media (min-width: 76.25em) {
  .msrd .msrd-Profile {
    align-items: flex-end;
    display: flex;
    gap: var(--space-horizontal-07);
  }

  .msrd .msrd-Profile-imageWrapper {
    --image-size: 17.3125rem; /* magic grid number */
    flex-shrink: 0;
    margin-bottom: 0;
  }
}
