.clbr .msrd-Profile-imageWrapper {
  --image-size: var(--clbr-spacing-vertical-1400);

  border-radius: calc(var(--image-size) * var(--clbr-radius-ratio-default));
  box-shadow: none;
  inline-size: var(--image-size);
  margin-block-end: var(--clbr-spacing-vertical-600);

  > div,
  img {
    border-radius: calc(var(--image-size) * var(--clbr-radius-ratio-default));
    box-shadow: var(--clbr-effect-shadow-default);
  }
}

@media (width >= 80em) {
  .clbr .msrd-Profile {
    align-items: flex-end;
    display: flex;
    gap: var(--clbr-spacing-horizontal-800);
  }

  .clbr .msrd-Profile-imageWrapper {
    --image-size: calc(192rem / 16);

    flex-shrink: 0;
    margin-block-end: 0;
  }
}
