.msrd .msrd-Paragraph {
  font: var(--font-03);
  letter-spacing: var(--font-03-letter-spacing);
  font-weight: normal;
  margin: 0;
}

@media (min-width: 48em) {
  .msrd .msrd-Paragraph {
    font: var(--font-04);
    letter-spacing: var(--font-04-letter-spacing);
  }
}

.msrd .msrd-Paragraph--small {
  font: var(--font-02);
  letter-spacing: var(--font-02-letter-spacing);
}

.msrd .msrd-Paragraph--large {
  font: var(--font-04);
  letter-spacing: var(--font-04-letter-spacing);
}

@media (min-width: 48em) {
  .msrd .msrd-Paragraph--large {
    font: var(--font-05);
    letter-spacing: var(--font-05-letter-spacing);
  }
}

.msrd-Paragraph--left {
  text-align: left;
}

.msrd-Paragraph--center {
  text-align: center;
}

.msrd-Paragraph--right {
  text-align: right;
}
