.msrd .msrd-Paragraph {
  font-size: var(--font-03-size);
  line-height: var(--font-03-line-height);
  margin: 0;
  text-wrap: pretty;
}

@media (min-width: 48em) {
  .msrd .msrd-Paragraph {
    font-size: var(--font-04-size);
    line-height: var(--font-04-line-height-large);
  }
}

.msrd .msrd-Paragraph--small {
  font-size: var(--font-02-size);
  line-height: var(--font-02-line-height);
}

.msrd .msrd-Paragraph--large {
  font-size: var(--font-04-size);
  line-height: var(--font-04-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Paragraph--large {
    font-size: var(--font-05-size);
    line-height: var(--font-05-line-height);
  }
}

.msrd-Paragraph--left {
  text-align: left;
}

.msrd-Paragraph--center {
  text-align: center;
}

.msrd-Paragraph--right {
  text-align: right;
}

.msrd .msrd-Paragraph--measured {
  max-width: var(--measured);
}

.msrd .msrd-Paragraph--measured.msrd-Paragraph--large {
  max-width: calc(var(--measured) * 0.9);
}

.msrd .msrd-Paragraph--muted {
  color: var(--color-text-muted);
}
