.clbr .msrd-SiteHeaderMenu {
  display: none;
  inset-block-end: 0;
  inset-block-start: var(--clbr-spacing-vertical-1000);
  inset-inline: 0;
  overflow-y: auto;
  padding-block-end: var(--clbr-spacing-vertical-700);
  padding-block-start: var(--clbr-spacing-vertical-400);
  padding-inline: var(--clbr-spacing-horizontal-600);
  position: fixed;
}

.clbr .msrd-SiteHeaderMenu--open {
  background: var(--clbr-color-background-default);
  display: block;
}

@media (min-width: 48em) {
  .clbr .msrd-SiteHeaderMenu {
    display: block;
    overflow-y: visible;
    padding: 0;
    position: static;
  }
}
