.clbr .msrd-SiteHeaderMenu {
  display: none;
  inset-block: var(--clbr-spacing-vertical-1000) 0;
  inset-inline: 0;
  overflow-block: auto;
  padding-block: var(--clbr-spacing-vertical-400) var(--clbr-spacing-vertical-700);
  padding-inline: var(--clbr-spacing-horizontal-600);
  position: fixed;
}

.clbr .msrd-SiteHeaderMenu--open {
  background: var(--clbr-color-background-default);
  display: block;
}

@media (width >= 48em) {
  .clbr .msrd-SiteHeaderMenu {
    display: block;
    overflow-block: visible;
    padding: 0;
    position: static;
  }
}
