.msrd .msrd-Page {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.msrd .msrd-Page--centered .msrd-Page-main {
  margin-bottom: auto;
  margin-top: auto;
}
