.msrd .msrd-Copy {
  --color-border: var(--color-copy-interactive);
  --button-size: calc((44 / 16) * 1rem);
  --icon-border: calc((2 / 16) * 1rem);
  --icon-size: calc((23 / 16) * 1rem);
  --icon-offset: calc((7 / 16) * 1rem);
  background-color: transparent;
  block-size: var(--button-size);
  border: 0;
  color: inherit;
  cursor: pointer;
  inline-size: var(--button-size);
  padding: 0;
  position: relative;
  text-align: start;
}

.msrd .msrd-Copy::before {
  block-size: var(--icon-size);
  border: var(--icon-border) solid var(--color-border);
  border-radius: calc(var(--icon-size) * var(--corner-ratio-square));
  content: "";
  inline-size: var(--icon-size);
  inset-block-end: calc(
    var(--button-size) - var(--icon-size) - var(--icon-offset)
  );
  inset-inline-start: calc(
    var(--button-size) - var(--icon-size) - var(--icon-offset)
  );
  position: absolute;
}

.msrd .msrd-Copy::after {
  background-color: var(--color-button-background);
  block-size: var(--icon-size);
  border: var(--icon-border) solid var(--color-border);
  border-radius: calc(var(--icon-size) * var(--corner-ratio-square));
  content: "";
  inline-size: var(--icon-size);
  inset-block-end: var(--icon-offset);
  inset-inline-start: var(--icon-offset);
  position: absolute;
}

.msrd .msrd-Copy-text {
  block-size: var(--button-size);
  color: var(--color-copy-text);
  display: block;
  font-family: var(--font-family-monospaced);
  font-size: var(--font-01-size);
  inset-block-start: 0;
  inset-inline-start: calc(var(--button-size) - var(--icon-offset));
  line-height: var(--button-size);
  opacity: 0;
  position: absolute;
}

.msrd .msrd-Copy:focus-visible {
  outline: 0;
}

.msrd .msrd-Copy:focus-visible {
  --outline-offset: calc((4 / 16) * -1rem);
  border-radius: calc(
    (var(--button-size) + var(--outline-offset)) * var(--corner-ratio-square)
  );
  outline: var(--outline-width) solid var(--color-interactive-focus);
  outline-offset: var(--outline-offset);
}

.msrd .msrd-Copy:focus-visible .msrd-Copy-text,
.msrd .msrd-Copy--touched .msrd-Copy-text {
  inset-inline-start: var(--button-size);
  opacity: 1;
}

@media (hover: hover) {
  .msrd .msrd-Copy:hover {
    --color-border: var(--color-copy-interactive-hover);
  }

  .msrd .msrd-Copy:hover .msrd-Copy-text {
    inset-inline-start: var(--button-size);
    opacity: 1;
    transition: 0.1s opacity var(--easing-cubic-bezier-easy-ease),
      0.2s inset-inline-start var(--easing-cubic-bezier-easy-ease);
  }

  @media (prefers-reduced-motion) {
    .msrd .msrd-Copy:hover .msrd-Copy-text {
      transition: 0.1s opacity var(--easing-cubic-bezier-easy-ease),
        0s inset-inline-start var(--easing-cubic-bezier-easy-ease);
    }
  }
}

.msrd .msrd-Copy:active {
  --color-border: var(--color-interactive-active);
}
