.msrd .msrd-NewIdentityTypography {
  margin-inline: auto;
  max-inline-size: calc((630 / 16) * 1rem);
  padding-block-end: var(--space-vertical);

  @media (min-width: 48em) {
    padding-block-end: var(--space-vertical-07);
  }

  @media (min-width: 50em) {
    padding-block-end: var(--space-vertical-08);
  }

  @media (min-width: 80em) {
    max-inline-size: 100%;
    padding-block-end: calc((168 / 16) * 1rem);
  }

  p {
    color: var(--color-grey-10);
  }
}

.msrd .msrd-NewIdentityTypography-heading {
  @media (min-width: 80em) {
    max-inline-size: 12em;
  }
}

.msrd .msrd-NewIdentityTypography-specimen * {
  color: var(--color-azure-08);
}
