.clbr .msrd-NewIdentityTypography {
  margin-inline: auto;
  max-inline-size: calc((630 / 16) * 1rem);
  padding-block-end: var(--clbr-spacing-vertical-700);

  @media (width >= 48em) {
    padding-block-end: var(--clbr-spacing-vertical-900);
  }

  @media (width >= 50em) {
    padding-block-end: var(--clbr-spacing-vertical-950);
  }

  @media (width >= 80em) {
    max-inline-size: 100%;
    padding-block-end: calc((168 / 16) * 1rem);
  }

  p {
    color: #e3e4e5;
  }
}

.clbr .msrd-NewIdentityTypography-heading {
  @media (width >= 80em) {
    max-inline-size: 12em;
  }
}

.clbr .msrd-NewIdentityTypography-specimen * {
  color: #6db5f8;
}
