.msrd .msrd-Hero {
  --header-height: var(--space-vertical-09);
  display: flex;
  flex-direction: column;
  height: min-content;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--section-max-width);
  min-height: calc(100vh - var(--header-height));
  padding-bottom: var(--space-vertical);
  text-align: center;
}

@media (min-width: 48em) {
  .msrd .msrd-Hero {
    --header-height: var(--space-vertical-10);
  }
}

.msrd .msrd-Hero-text {
  padding-left: var(--space-horizontal);
  padding-right: var(--space-horizontal);
}

.msrd .msrd-Hero-strapline {
  font-size: var(--font-10-size);
  line-height: var(--font-10-line-height);
  margin-bottom: var(--space-vertical-03);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 11em;
  text-wrap: balance;
}

@supports (text-wrap: balance) {
  .msrd .msrd-Hero-strapline {
    max-width: 100%;
  }
}

@media (min-width: 48em) {
  .msrd .msrd-Hero-strapline {
    font-size: var(--font-12-size);
    line-height: var(--font-12-line-height);
    margin-bottom: var(--space-vertical-05);
  }
}

.msrd .msrd-Hero-rule {
  margin-bottom: 1.125rem;
  margin-top: 1.125rem;
}

@media (min-width: 48em) {
  .msrd .msrd-Hero-rule {
    margin-bottom: 2.25rem;
    margin-top: 2.25rem;
  }
}

.msrd .msrd-Hero-description {
  font-size: var(--font-03-size);
  line-height: var(--font-03-line-height);
  margin-bottom: var(--space-vertical-04);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 30em;
  text-wrap: balance;
}

@media (min-width: 48em) {
  .msrd .msrd-Hero-description {
    font-size: var(--font-04-size);
    line-height: var(--font-04-line-height-large);
    margin-bottom: 0;
  }
}
