.msrd .msrd-Hero {
  --header-height: var(--space-vertical-09);
  block-size: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-inline-size: var(--section-max-width);
  min-block-size: calc(100vh - var(--header-height));
  text-align: center;
}

@media (min-width: 48em) {
  .msrd .msrd-Hero {
    --header-height: var(--space-vertical-10);
  }
}

.msrd .msrd-Hero-inner {
  margin-block-end: var(--space-vertical-06);
  padding-block-start: var(--space-vertical-06);
}

@media (min-width: 48em) {
  .msrd .msrd-Hero-inner {
    margin-block-end: var(--space-vertical-09);
    padding-block-start: var(--space-vertical-09);
  }
}

.msrd .msrd-Hero-text {
  padding-inline: var(--space-horizontal);
}

.msrd .msrd-Hero-strapline {
  font-size: var(--font-10-size);
  line-height: var(--font-10-line-height);
  margin-block-end: var(--space-vertical-03);
  margin-block-start: 0;
  margin-inline: auto;
  max-inline-size: 11em; /* fallback for text-wrap: balance */
  text-wrap: balance;
}

@supports (text-wrap: balance) {
  .msrd .msrd-Hero-strapline {
    max-inline-size: 100%;
  }
}

@media (min-width: 48em) {
  .msrd .msrd-Hero-strapline {
    font-size: var(--font-12-size);
    line-height: var(--font-12-line-height);
    margin-block-end: var(--space-vertical-05);
  }
}

.msrd .msrd-Hero-rule {
  margin-block: var(--space-vertical-04);
}

@media (min-width: 48em) {
  .msrd .msrd-Hero-rule {
    margin-block: var(--space-vertical-06);
  }
}

.msrd .msrd-Hero-description {
  color: var(--color-text-prose);
  font-size: var(--font-03-size);
  line-height: var(--font-03-line-height);
  margin-block-end: var(--space-vertical-04);
  margin-block-start: 0;
  margin-inline: auto;
  max-inline-size: 30em; /* fallback for text-wrap: balance */
  text-wrap: balance;
}

@media (min-width: 48em) {
  .msrd .msrd-Hero-description {
    font-size: var(--font-04-size);
    line-height: var(--font-04-line-height-large);
    margin-block-end: 0;
  }
}

@keyframes bounce {
  0% {
    inset-block-end: calc((14 / 16) * 1rem);
  }
  50% {
    inset-block-end: calc((8 / 16) * 1rem);
  }
  100% {
    inset-block-end: calc((14 / 16) * 1rem);
  }
}

.msrd .msrd-Hero-arrow {
  --animation-delay: 1.375s;
  --animation-duration: 2.75s;
  display: none;
  user-select: none;
}

.msrd .msrd-Hero--fullscreen .msrd-Hero-arrow {
  align-items: flex-end;
  animation: bounce var(--animation-duration) var(--animation-delay)
    var(--easing-cubic-bezier-easy-ease) infinite;
  display: flex;
  font-size: var(--font-07-size);
  font-weight: 100;
  inset-block-end: calc((8 / 16) * 1rem);
  inset-inline: 0;
  justify-content: center;
  line-height: 1;
  opacity: 1;
  position: fixed;
  text-align: center;
  transition: opacity 0.2s var(--animation-delay) linear;
  @starting-style {
    opacity: 0;
  }
}

.msrd-u-pageScrolled .msrd-Hero--fullscreen .msrd-Hero-arrow {
  opacity: 0;
  transition: opacity 0.1s linear;
}

@media (hover: hover) {
  .msrd .msrd-Hero--fullscreen .msrd-Hero-arrow {
    animation: none;
    opacity: 0;
    transition: none;
  }

  .msrd:not(:has(a:hover)):hover .msrd-Hero--fullscreen .msrd-Hero-arrow {
    animation: bounce var(--animation-duration) var(--animation-delay)
      var(--easing-cubic-bezier-easy-ease) infinite;
    opacity: 1;
    transition: opacity 0.2s var(--animation-delay) linear;
  }

  .msrd-u-pageScrolled .msrd-Hero--fullscreen .msrd-Hero-arrow {
    animation: none !important;
    opacity: 0 !important;
    transition: opacity 0.1s linear !important;
  }
}

@media (prefers-reduced-motion) {
  .msrd .msrd-Hero--fullscreen .msrd-Hero-arrow {
    animation: none !important;
  }
}
