.clbr .msrd-Hero {
  --header-height: var(--clbr-spacing-vertical-1000);
  block-size: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-inline-size: var(--clbr-layout-container-max-width-default);
  min-block-size: calc(100vh - var(--header-height));
  text-align: center;
}

@media (min-width: 48em) {
  .clbr .msrd-Hero {
    --header-height: var(--clbr-spacing-vertical-1100);
  }
}

.clbr .msrd-Hero-inner {
  margin-block-end: var(--clbr-spacing-vertical-800);
  padding-block-start: var(--clbr-spacing-vertical-800);
}

@media (min-width: 48em) {
  .clbr .msrd-Hero-inner {
    margin-block-end: var(--clbr-spacing-vertical-1000);
    padding-block-start: var(--clbr-spacing-vertical-1000);
  }
}

.clbr .msrd-Hero-text {
  padding-inline: var(--clbr-spacing-horizontal-600);
}

.clbr .msrd-Hero-strapline {
  font-size: var(--clbr-typography-type-step-1000-font-size);
  font-weight: 366;
  line-height: var(--clbr-typography-type-step-1000-line-height);
  margin-block-end: var(--clbr-spacing-vertical-500);
  margin-block-start: 0;
  margin-inline: auto;
  max-inline-size: 11em; /* fallback for text-wrap: balance */
  text-wrap: balance;
}

@supports (text-wrap: balance) {
  .clbr .msrd-Hero-strapline {
    max-inline-size: 100%;
  }
}

@media (min-width: 48em) {
  .clbr .msrd-Hero-strapline {
    font-size: var(--clbr-typography-type-step-1200-font-size);
    line-height: var(--clbr-typography-type-step-1200-line-height);
    margin-block-end: var(--clbr-spacing-vertical-700);
  }
}

.clbr .msrd-Hero-rule {
  margin-block: var(--clbr-spacing-vertical-600);
}

@media (min-width: 48em) {
  .clbr .msrd-Hero-rule {
    margin-block: var(--clbr-spacing-vertical-800);
  }
}

.clbr .msrd-Hero-description {
  color: var(--clbr-color-foreground-prose);
  font-size: var(--clbr-typography-type-step-300-font-size);
  line-height: var(--clbr-typography-type-step-300-line-height);
  margin-block-end: var(--clbr-spacing-vertical-600);
  margin-block-start: 0;
  margin-inline: auto;
  max-inline-size: 30em; /* fallback for text-wrap: balance */
  text-wrap: balance;
}

@media (min-width: 48em) {
  .clbr .msrd-Hero-description {
    font-size: var(--clbr-typography-type-step-450-font-size);
    line-height: var(--clbr-typography-type-step-450-line-height);
    margin-block-end: 0;
  }
}

@keyframes bounce {
  0% {
    inset-block-end: calc((12 / 16) * 1rem);
  }
  50% {
    inset-block-end: calc((6 / 16) * 1rem);
  }
  100% {
    inset-block-end: calc((12 / 16) * 1rem);
  }
}

.clbr .msrd-Hero-arrow {
  --animation-delay: 1.5s;
  --animation-duration: var(--clbr-motion-duration-3000);
  display: none;
  user-select: none;
}

.clbr .msrd-Hero--fullscreen .msrd-Hero-arrow {
  align-items: flex-end;
  animation: bounce var(--animation-duration) var(--animation-delay)
    var(--clbr-motion-easing-ease-in-out) infinite;
  display: flex;
  font-size: var(--clbr-typography-type-step-700-font-size);
  font-weight: 100;
  inset-block-end: calc((8 / 16) * 1rem);
  inset-inline: 0;
  justify-content: center;
  line-height: 1;
  opacity: 1;
  position: fixed;
  text-align: center;
  transition: opacity var(--clbr-motion-duration-200) var(--animation-delay) linear;
  @starting-style {
    opacity: 0;
  }
}

.msrd-u-pageScrolled .msrd-Hero--fullscreen .msrd-Hero-arrow {
  opacity: 0;
  transition: opacity var(--clbr-motion-duration-100) linear;
}

@media (hover: hover) {
  .clbr .msrd-Hero--fullscreen .msrd-Hero-arrow {
    animation: none;
    opacity: 0;
    transition: none;
  }

  .clbr:not(:has(a:hover)):hover .msrd-Hero--fullscreen .msrd-Hero-arrow {
    animation: bounce var(--animation-duration) var(--animation-delay)
      var(--clbr-motion-easing-ease-in-out) infinite;
    opacity: 1;
    transition: opacity var(--clbr-motion-duration-200) var(--animation-delay) linear;
  }

  .msrd-u-pageScrolled .msrd-Hero--fullscreen .msrd-Hero-arrow {
    animation: none !important;
    opacity: 0 !important;
    transition: opacity var(--clbr-motion-duration-100) linear !important;
  }
}

@media (prefers-reduced-motion) {
  .clbr .msrd-Hero--fullscreen .msrd-Hero-arrow {
    animation: none !important;
  }
}
