@import "./components/Menu/Menu.css";
@import "./components/MenuButton/MenuButton.css";

html {
  scroll-padding-block-start: var(--space-vertical-12);
}

@media (min-width: 48em) {
  html {
    scroll-padding-block-start: var(--space-vertical-14);
  }
}

.msrd .msrd-SiteHeader {
  background-color: var(--color-site-header-background);
  inset-block-start: 0;
  position: sticky;
  z-index: 1;
}

.msrd .msrd-SiteHeader--pageScrolled {
  background-color: var(--color-background);
  box-shadow: var(--box-shadow-light-source);
  transition:
    background-color 0.1s var(--easing-cubic-bezier-easy-ease),
    box-shadow 0.1s var(--easing-cubic-bezier-easy-ease);
}

.msrd .msrd-SiteHeader--menuOpen {
  background: var(--color-background);
  box-shadow: none;
}

.msrd .msrd-SiteHeader-wrapper {
  padding-inline: var(--space-horizontal);
}

@media (min-width: 48em) {
  .msrd .msrd-SiteHeader-wrapper {
    padding-inline: var(--space-horizontal-07);
  }
}

.msrd .msrd-SiteHeader--pageScrolled .msrd-SiteHeader-wrapper {
  border-block-end: calc(1rem / 16) solid transparent;
  box-shadow: var(--site-header-box-shadow);
  transition: box-shadow 0.1s var(--easing-cubic-bezier-easy-ease);
}

.msrd .msrd-SiteHeader-inner {
  align-items: center;
  border-block: calc(2rem / 16) solid transparent;
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
  margin-inline: auto;
  max-inline-size: var(--section-max-width);
  padding-block: calc(var(--space-vertical-03));

  @media (forced-colors: active) {
    border-color: Canvas;
  }
}

@media (min-width: 48em) {
  .msrd .msrd-SiteHeader-inner {
    padding-block: calc(var(--space-vertical-04) - (2rem / 16));
  }
}

.msrd .msrd-SiteHeader-logo {
  color: var(--color-logo);
  margin: 0;
}

.msrd .msrd-SiteHeader-logo:has(:focus-visible) {
  border-radius: var(--border-radius-focus);
  outline: var(--outline-width) solid var(--color-interactive-focus);
  outline-offset: var(--outline-width);
}

.msrd .msrd-SiteHeader-logo svg {
  fill: var(--color-logo);
}

.msrd .msrd-SiteHeader-navItems {
  display: table;
  font-size: var(--font-05-size);
  line-height: var(--font-05-line-height);
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}

@media (hover: hover) {
  .msrd .msrd-SiteHeader-navItems:has(a:hover) a:not(:hover) {
    opacity: 0.42;
    transition: opacity 0.1s var(--easing-cubic-bezier-easy-ease);
  }
}

@media (min-width: 48em) {
  .msrd .msrd-SiteHeader-navItems {
    align-items: center;
    display: flex;
    font-size: var(--font-size);
    gap: var(--space-horizontal-07);
    line-height: var(--line-height);
  }

  .msrd .msrd-SiteHeader-navItems:has(a:hover) a:not(:hover) {
    opacity: 1;
    transition: none;
  }
}

.msrd .msrd-SiteHeader-link {
  color: var(--color-interactive-neutral);
  display: table;
  padding-block: var(--space-vertical-02);
  position: relative;
}

@media (min-width: 48em) {
  .msrd .msrd-SiteHeader-link {
    padding-block: var(--space-vertical-01);
  }

  @media (hover: hover) {
    .msrd .msrd-SiteHeader-link:hover {
      color: var(--color-interactive-neutral-hover);
    }
  }
}

.msrd .msrd-SiteHeader-link:active {
  color: var(--color-interactive-neutral-active);
}

.msrd .msrd-SiteHeader-link--current::after {
  background-color: var(--color-brand);
  block-size: var(--space-vertical-02);
  border-radius: 50%;
  content: "";
  display: inline-block;
  inline-size: var(--space-vertical-02);
  margin-inline-start: 0.2em;
}

@media (min-width: 48em) {
  .msrd .msrd-SiteHeader-link--current {
    text-decoration: underline;
    text-decoration-color: var(--color-rule);
    text-decoration-thickness: var(--rule-height);
    text-underline-offset: 0.5em;
  }

  .msrd
    .msrd-SiteHeader:not(.msrd-SiteHeader--pageScrolled)
    .msrd-SiteHeader-link--current:hover {
    color: inherit;
  }

  .msrd .msrd-SiteHeader-link--current::after {
    display: none;
  }
}

/* CTA */

@media (min-width: 48em) {
  .msrd .msrd-SiteHeader li:has(.msrd-SiteHeader-link[href="/contact"]) {
    border-radius: var(--border-radius-button);
    box-shadow: var(--box-shadow-light-source);
  }

  .msrd .msrd-SiteHeader-link[href="/contact"] {
    align-items: center;
    background-color: var(--color-button-background);
    block-size: var(--space-vertical-07);
    border: solid var(--border-width) var(--color-card-border);
    border-radius: var(--border-radius-button);
    box-shadow: var(--box-shadow);
    display: flex;
    padding-block: 0;
    padding-inline-end: var(--space-horizontal-06);
    padding-inline-start: var(--space-horizontal-08);
    position: relative;
    text-decoration: none;
  }

  .msrd
    .msrd-SiteHeader-link[href="/contact"]
    .msrd-SiteHeader-linkText::after {
    content: "→";
    display: inline-block;
    inline-size: var(--space-horizontal);
    inset-inline-start: 0;
    opacity: 0;
    position: relative;
  }

  :dir(rtl)
    .msrd
    .msrd-SiteHeader-link[href="/contact"]
    .msrd-SiteHeader-linkText::after,
  .translated-rtl
    .msrd
    .msrd-SiteHeader-link[href="/contact"]
    .msrd-SiteHeader-linkText::after {
    content: "←";
  }

  @media (hover: hover) {
    .msrd
      .msrd-SiteHeader-link[href="/contact"]:hover
      .msrd-SiteHeader-linkText::after {
      inset-inline-start: 0.25em;
      opacity: 1;
      transition:
        0.1s opacity var(--easing-cubic-bezier-easy-ease),
        0.2s inset-inline-start var(--easing-cubic-bezier-easy-ease);
    }

    @media (prefers-reduced-motion) {
      .msrd
        .msrd-SiteHeader-link[href="/contact"]:hover
        .msrd-SiteHeader-linkText::after {
        transition:
          0.1s opacity var(--easing-cubic-bezier-easy-ease),
          0s inset-inline-start var(--easing-cubic-bezier-easy-ease);
      }
    }
  }

  .msrd .msrd-SiteHeader-link--current[href="/contact"],
  .msrd
    .msrd-SiteHeader:not(.msrd-SiteHeader--pageScrolled)
    .msrd-SiteHeader-link--current[href="/contact"]:hover {
    background-color: var(--color-interactive);
    border-color: var(--color-interactive);
    color: var(--color-interactive-contrast);
  }

  .msrd
    .msrd-SiteHeader:not(.msrd-SiteHeader--pageScrolled)
    .msrd-SiteHeader-link--current[href="/contact"]:hover {
    cursor: default;
  }

  @media (hover: hover) {
    .msrd .msrd-SiteHeader-link--current[href="/contact"]:hover {
      background-color: var(--color-interactive-hover);
      border-color: var(--color-interactive-hover);
      color: var(--color-interactive-contrast);
    }
  }

  .msrd .msrd-SiteHeader-link--current[href="/contact"]:active {
    background-color: var(--color-interactive-active);
    border-color: var(--color-interactive-active);
    color: var(--color-interactive-contrast);
  }

  .msrd
    .msrd-SiteHeader-link--current[href="/contact"]
    .msrd-SiteHeader-linkText::after {
    visibility: hidden;
  }
}
