.msrd .msrd-NewIdentityCorner {
  margin-inline: auto;
  max-inline-size: calc((414 / 16) * 1rem);

  @media (min-width: 48em) {
    max-inline-size: calc((844 / 16) * 1rem);
  }

  @media (min-width: 80em) {
    max-inline-size: 100%;
  }
}

.msrd .msrd-NewIdentityCorner-label {
  color: var(--color-azure-05);
  font-family: var(--font-family-monospaced);
  font-size: var(--font-01-size);
  line-height: var(--font-01-line-height);
  max-inline-size: 23em;
  text-wrap: pretty;

  @media (prefers-color-scheme: dark) {
    color: var(--color-azure-07);
  }
}

.msrd .msrd-NewIdentityCorner-largeTile {
  align-items: flex-end;
  aspect-ratio: 1/1;
  background-image: url(https://res.cloudinary.com/measuredco/image/upload/f_auto,q_auto/v1740598113/site/large-tile_ezwhgy.png);
  background-size: cover;
  display: flex;
  max-inline-size: calc((414 / 16) * 1rem);
  padding: var(--space-horizontal-07);
}

.msrd .msrd-NewIdentityCorner p.msrd-NewIdentityCorner-description:not(foo) {
  font-size: var(--font-01-size);
  line-height: var(--font-01-line-height);
  margin: 0 auto;
  max-inline-size: 36em;
  text-align: center;
}
