.clbr .msrd-NewIdentityCorner {
  margin-inline: auto;
  max-inline-size: calc((414 / 16) * 1rem);

  @media (width >= 48em) {
    max-inline-size: calc((844 / 16) * 1rem);
  }

  @media (width >= 80em) {
    max-inline-size: 100%;
  }
}

.clbr .msrd-NewIdentityCorner-label {
  color: #1666bb;
  font-family: var(--clbr-typography-font-family-mono);
  font-size: var(--clbr-typography-type-step-150-font-size);
  line-height: var(--clbr-typography-type-step-150-line-height);
  max-inline-size: 23em;
  text-wrap: pretty;

  @media (prefers-color-scheme: dark) {
    color: #3598f8;
  }
}

.clbr .msrd-NewIdentityCorner-largeTile {
  align-items: flex-end;
  aspect-ratio: 1/1;
  background-image: url("https://res.cloudinary.com/measuredco/image/upload/f_auto,q_auto/v1740598113/site/large-tile_ezwhgy.png");
  background-size: cover;
  display: flex;
  max-inline-size: calc((414 / 16) * 1rem);
  padding: var(--clbr-spacing-horizontal-800);
}

.clbr .msrd-NewIdentityCorner p.msrd-NewIdentityCorner-description:not(foo) {
  font-size: var(--clbr-typography-type-step-150-font-size);
  line-height: var(--clbr-typography-type-step-150-line-height);
  margin: 0 auto;
  max-inline-size: 36em;
  text-align: center;
}
