.msrd .msrd-NewIdentityCorner {
  margin: 0 auto;
  max-width: calc((1010 / 16) * 1rem);

  @media (min-width: 80em) {
    max-width: 100%;
  }
}

.msrd .msrd-NewIdentityCorner-label {
  color: var(--color-azure-05);
  font-family: var(--font-family-monospaced);
  font-size: var(--font-01-size);
  line-height: var(--font-01-line-height);
  max-width: 23em;
  text-wrap: pretty;

  @media (prefers-color-scheme: dark) {
    color: var(--color-azure-07);
  }
}

.msrd .msrd-NewIdentityCorner-largeTile {
  align-items: end;
  aspect-ratio: 1/1;
  background-image: url(https://res.cloudinary.com/measuredco/image/upload/f_auto,q_auto/v1740598113/site/large-tile_ezwhgy.png);
  background-size: cover;
  display: flex;
  max-width: calc((412 / 16) * 1rem);
  padding: var(--space-horizontal-07);
}

.msrd
  .msrd-NewIdentityCorner
  p.msrd-NewIdentityCorner-description:not(foo) {
  font-size: var(--font-01-size);
  line-height: var(--font-01-line-height);
  max-width: 36em;

  @media (min-width: 80em) {
    margin: 0 auto;
    text-align: center;
  }
}
