/*
 * Measured design tokens
 */

:root {
  /*
   * Color palette
   */

  --color-rose-01: #550532;
  --color-rose-02: #700b43;
  --color-rose-03: #8b1254;
  --color-rose-04: #a81a66;
  --color-rose-05: #bc397d;
  --color-rose-06: #d15294;
  --color-rose-07: #e56aac;
  --color-rose-08: #ec89bc;
  --color-rose-09: #f1a5cc;
  --color-rose-10: #f6c1dc;
  --color-rose-11: #f9ddec;
  --color-rose-12: #fdf2f8;

  --color-violet-01: #300187;
  --color-violet-02: #3c01ad;
  --color-violet-03: #551abc;
  --color-violet-04: #6c2dcb;
  --color-violet-05: #813eda;
  --color-violet-06: #a35ff0;
  --color-violet-07: #b776fb;
  --color-violet-08: #c790fc;
  --color-violet-09: #d5aafd;
  --color-violet-10: #e2c4fe;
  --color-violet-11: #eedefe;
  --color-violet-12: #f9f4ff;

  --color-azure-01: #031f60;
  --color-azure-02: #042467;
  --color-azure-03: #083c8a;
  --color-azure-04: #0158ad;
  --color-azure-05: #1666bb;
  --color-azure-06: #2a84e1;
  --color-azure-07: #3598f8;
  --color-azure-08: #6db5f8;
  --color-azure-09: #93c5fa;
  --color-azure-10: #b3d5fb;
  --color-azure-11: #d1e5fd;
  --color-azure-12: #edf6fe;

  --color-cyan-01: #00161a;
  --color-cyan-02: #04242a;
  --color-cyan-03: #00333c;
  --color-cyan-04: #014a53;
  --color-cyan-05: #03636b;
  --color-cyan-06: #048e96;
  --color-cyan-07: #05a5ad;
  --color-cyan-08: #55b7bd;
  --color-cyan-09: #80c8cd;
  --color-cyan-10: #a5dadd;
  --color-cyan-11: #c9eced;
  --color-cyan-12: #eaf8f9;

  --color-green-01: #133100;
  --color-green-02: #1d4204;
  --color-green-03: #285303;
  --color-green-04: #336502;
  --color-green-05: #3e7b02;
  --color-green-06: #499103;
  --color-green-07: #55a803;
  --color-green-08: #7ab945;
  --color-green-09: #9bca71;
  --color-green-10: #bbda9b;
  --color-green-11: #d9ebc5;
  --color-green-12: #f0f7e8;

  --color-yellow-01: #342900;
  --color-yellow-02: #453803;
  --color-yellow-03: #574803;
  --color-yellow-04: #6a5801;
  --color-yellow-05: #816b01;
  --color-yellow-06: #997e02;
  --color-yellow-07: #b19202;
  --color-yellow-08: #c2a643;
  --color-yellow-09: #d2ba6e;
  --color-yellow-10: #e0cf98;
  --color-yellow-11: #ece5c2;
  --color-yellow-12: #f7f6e9;

  --color-orange-01: #4c1a00;
  --color-orange-02: #612804;
  --color-orange-03: #773604;
  --color-orange-04: #8e4501;
  --color-orange-05: #ad5601;
  --color-orange-06: #cb6503;
  --color-orange-07: #ea7407;
  --color-orange-08: #f89435;
  --color-orange-09: #ffba7d;
  --color-orange-10: #ffdfc1;
  --color-orange-11: #ffe9d4;
  --color-orange-12: #fef4e8;

  --color-red-01: #5d0000;
  --color-red-02: #790304;
  --color-red-03: #960706;
  --color-red-04: #b40d05;
  --color-red-05: #cc3024;
  --color-red-06: #e44a3f;
  --color-red-07: #fb625b;
  --color-red-08: #ff847a;
  --color-red-09: #ffa49a;
  --color-red-10: #ffc1ba;
  --color-red-11: #ffdcda;
  --color-red-12: #fff3f2;

  --color-grey-01: #0b0c0d;
  --color-grey-02: #0e0f10;
  --color-grey-03: #191a1a;
  --color-grey-04: #232424;
  --color-grey-05: #434444;
  --color-grey-06: #656667;
  --color-grey-07: #898a8b;
  --color-grey-08: #a6a7a8;
  --color-grey-09: #c8c9ca;
  --color-grey-10: #e3e4e5;
  --color-grey-11: #f2f3f4;
  --color-grey-12: #f9fafb;

  --color-black: #000000;
  --color-white: #ffffff;

  /*
   * Space scales
   */

  /* Vertical space derived from base font-size of 16 & base leading of 1.5 */
  --space-scale-vertical: 24;

  --space-scale-vertical-01: calc(var(--space-scale-vertical) * 0.125); /* 3 */
  --space-scale-vertical-02: calc(var(--space-scale-vertical) * 0.25); /* 6 */
  --space-scale-vertical-03: calc(var(--space-scale-vertical) * 0.5); /* 12 */
  --space-scale-vertical-04: calc(var(--space-scale-vertical) * 0.75); /* 18 */
  --space-scale-vertical-05: calc(var(--space-scale-vertical) * 1); /* 24 */
  --space-scale-vertical-06: calc(var(--space-scale-vertical) * 1.5); /* 36 */
  --space-scale-vertical-07: calc(var(--space-scale-vertical) * 2); /* 48 */
  --space-scale-vertical-08: calc(var(--space-scale-vertical) * 2.5); /* 60 */
  --space-scale-vertical-09: calc(var(--space-scale-vertical) * 3); /* 72 */
  --space-scale-vertical-10: calc(var(--space-scale-vertical) * 3.5); /* 84 */
  --space-scale-vertical-11: calc(var(--space-scale-vertical) * 4); /* 96 */
  --space-scale-vertical-12: calc(var(--space-scale-vertical) * 4.5); /* 108 */
  --space-scale-vertical-13: calc(var(--space-scale-vertical) * 5); /* 120 */
  --space-scale-vertical-14: calc(var(--space-scale-vertical) * 6); /* 144 */

  /* Horizontal space derived from base font-size of 16 */
  --space-scale-horizontal: 16;

  --space-scale-horizontal-01: calc(var(--space-scale-horizontal) * 0.125);
  --space-scale-horizontal-02: calc(var(--space-scale-horizontal) * 0.25);
  --space-scale-horizontal-03: calc(var(--space-scale-horizontal) * 0.5);
  --space-scale-horizontal-04: calc(var(--space-scale-horizontal) * 0.75);
  --space-scale-horizontal-05: calc(var(--space-scale-horizontal) * 1);
  --space-scale-horizontal-06: calc(var(--space-scale-horizontal) * 1.5);
  --space-scale-horizontal-07: calc(var(--space-scale-horizontal) * 2);
  --space-scale-horizontal-08: calc(var(--space-scale-horizontal) * 2.5);
  --space-scale-horizontal-09: calc(var(--space-scale-horizontal) * 3);
  --space-scale-horizontal-10: calc(var(--space-scale-horizontal) * 3.5);
  --space-scale-horizontal-11: calc(var(--space-scale-horizontal) * 4);
  --space-scale-horizontal-12: calc(var(--space-scale-horizontal) * 4.5);

  /*
   * Typographic scales
   */

  --leading-scale: var(--space-scale-vertical);

  --leading-scale-01: var(--space-scale-vertical); /* 24 */
  --leading-scale-02: calc(var(--space-scale-vertical) * 1.125); /* 27 */
  --leading-scale-03: calc(var(--space-scale-vertical) * 1.25); /* 30 */
  --leading-scale-04: calc(var(--space-scale-vertical) * 1.5); /* 36 */
  --leading-scale-05: calc(var(--space-scale-vertical) * 1.75); /* 42 */
  --leading-scale-06: calc(var(--space-scale-vertical) * 2); /* 48 */
  --leading-scale-07: calc(var(--space-scale-vertical) * 2.25); /* 54 */
  --leading-scale-08: calc(var(--space-scale-vertical) * 2.5); /* 60 */
  --leading-scale-09: calc(var(--space-scale-vertical) * 3); /* 72 */
  --leading-scale-10: calc(var(--space-scale-vertical) * 4); /* 96 */
  --leading-scale-11: calc(var(--space-scale-vertical) * 5); /*120 */

  /* Classic typographic scale, mathematically corrected */

  --type-scale: 16;

  --type-scale-01: 14; /* leading-scale-01: 24 = 1.71428571 */
  --type-scale-02: 16; /* leading-scale-01: 24 = 1.5 */
  --type-scale-03: 18; /* leading-scale-02: 27 = 1.5 */
  --type-scale-04: 20; /* leading-scale-03: 30 = 1.5 */
  --type-scale-05: 24; /* leading-scale-04: 36 = 1.5 */
  --type-scale-06: 28; /* leading-scale-05: 42 = 1.5 */
  --type-scale-07: 32; /* leading-scale-05: 42 = 1.35483871 */
  --type-scale-08: 36; /* leading-scale-06: 48 = 1.33333333 */
  --type-scale-09: 42; /* leading-scale-07: 54 = 1.28571429 */
  --type-scale-10: 48; /* leading-scale-08: 60 = 1.25 */
  --type-scale-11: 62; /* leading-scale-09: 72 = 1.16129032 */
  --type-scale-12: 84; /* leading-scale-10: 96 = 1.14285714 */
  --type-scale-13: 120; /* leading-scale-11: 120 = 1 */

  /*
   * Font tokens
   */

  --font-size: calc((var(--type-scale) / 16) * 1rem);

  --font-01-size: calc((var(--type-scale-01) / 16) * 1rem);
  --font-02-size: calc((var(--type-scale-02) / 16) * 1rem);
  --font-03-size: calc((var(--type-scale-03) / 16) * 1rem);
  --font-04-size: calc((var(--type-scale-04) / 16) * 1rem);
  --font-05-size: calc((var(--type-scale-05) / 16) * 1rem);
  --font-06-size: calc((var(--type-scale-06) / 16) * 1rem);
  --font-07-size: calc((var(--type-scale-07) / 16) * 1rem);
  --font-08-size: calc((var(--type-scale-08) / 16) * 1rem);
  --font-09-size: calc((var(--type-scale-09) / 16) * 1rem);
  --font-10-size: calc((var(--type-scale-10) / 16) * 1rem);
  --font-11-size: calc((var(--type-scale-11) / 16) * 1rem);
  --font-12-size: calc((var(--type-scale-12) / 16) * 1rem);
  --font-13-size: calc((var(--type-scale-13) / 16) * 1rem);

  --line-height: calc(var(--leading-scale) / var(--type-scale));

  --font-01-line-height: calc(
    var(--leading-scale-01) / var(--type-scale-01)
  ); /* 1.71428571 */
  --font-02-line-height: calc(
    var(--leading-scale-01) / var(--type-scale-02)
  ); /* 1.5 */
  --font-03-line-height: calc(
    var(--leading-scale-02) / var(--type-scale-03)
  ); /* 1.5 */
  --font-04-line-height: calc(
    var(--leading-scale-03) / var(--type-scale-04)
  ); /* 1.5 */
  --font-04-line-height-large: calc(
    var(--leading-scale-04) / var(--type-scale-04)
  ); /* 1.8 */
  --font-05-line-height: calc(
    var(--leading-scale-04) / var(--type-scale-05)
  ); /* 1.5 */
  --font-06-line-height: calc(
    var(--leading-scale-05) / var(--type-scale-06)
  ); /* 1.5 */
  --font-07-line-height: calc(
    var(--leading-scale-05) / var(--type-scale-07)
  ); /* 1.35483871 */
  --font-08-line-height: calc(
    var(--leading-scale-06) / var(--type-scale-08)
  ); /* 1.3333 */
  --font-09-line-height: calc(
    var(--leading-scale-07) / var(--type-scale-09)
  ); /* 1.28571429 */
  --font-10-line-height: calc(
    var(--leading-scale-08) / var(--type-scale-10)
  ); /* 1.25 */
  --font-11-line-height: calc(
    var(--leading-scale-09) / var(--type-scale-11)
  ); /* 1.16129032 */
  --font-12-line-height: calc(
    var(--leading-scale-10) / var(--type-scale-12)
  ); /* 1.14285714 */
  --font-13-line-height: calc(
    var(--leading-scale-11) / var(--type-scale-13)
  ); /* 1 */

  --font-stack: Inter, system-ui, sans-serif;

  --font-family: var(--font-next, var(--font-stack));

  --font-stack-monospaced: "Roboto Mono", ui-monospace, "Cascadia Code",
    "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;

  --font-family-monospaced: var(
    --font-next-monospaced,
    var(--font-stack-monospaced)
  );

  /*
   * Space tokens
   */

  --space-vertical: calc((var(--space-scale-vertical) / 16) * 1rem);

  --space-vertical-01: calc((var(--space-scale-vertical-01) / 16) * 1rem);
  --space-vertical-02: calc((var(--space-scale-vertical-02) / 16) * 1rem);
  --space-vertical-03: calc((var(--space-scale-vertical-03) / 16) * 1rem);
  --space-vertical-04: calc((var(--space-scale-vertical-04) / 16) * 1rem);
  --space-vertical-05: calc((var(--space-scale-vertical-05) / 16) * 1rem);
  --space-vertical-06: calc((var(--space-scale-vertical-06) / 16) * 1rem);
  --space-vertical-07: calc((var(--space-scale-vertical-07) / 16) * 1rem);
  --space-vertical-08: calc((var(--space-scale-vertical-08) / 16) * 1rem);
  --space-vertical-09: calc((var(--space-scale-vertical-09) / 16) * 1rem);
  --space-vertical-10: calc((var(--space-scale-vertical-10) / 16) * 1rem);
  --space-vertical-11: calc((var(--space-scale-vertical-11) / 16) * 1rem);
  --space-vertical-12: calc((var(--space-scale-vertical-12) / 16) * 1rem);
  --space-vertical-13: calc((var(--space-scale-vertical-13) / 16) * 1rem);
  --space-vertical-14: calc((var(--space-scale-vertical-14) / 16) * 1rem);

  --space-horizontal: calc((var(--space-scale-horizontal) / 16) * 1rem);

  --space-horizontal-01: calc((var(--space-scale-horizontal-01) / 16) * 1rem);
  --space-horizontal-02: calc((var(--space-scale-horizontal-02) / 16) * 1rem);
  --space-horizontal-03: calc((var(--space-scale-horizontal-03) / 16) * 1rem);
  --space-horizontal-04: calc((var(--space-scale-horizontal-04) / 16) * 1rem);
  --space-horizontal-05: calc((var(--space-scale-horizontal-05) / 16) * 1rem);
  --space-horizontal-06: calc((var(--space-scale-horizontal-06) / 16) * 1rem);
  --space-horizontal-07: calc((var(--space-scale-horizontal-07) / 16) * 1rem);
  --space-horizontal-08: calc((var(--space-scale-horizontal-08) / 16) * 1rem);
  --space-horizontal-09: calc((var(--space-scale-horizontal-09) / 16) * 1rem);
  --space-horizontal-10: calc((var(--space-scale-horizontal-10) / 16) * 1rem);
  --space-horizontal-11: calc((var(--space-scale-horizontal-11) / 16) * 1rem);
  --space-horizontal-12: calc((var(--space-scale-horizontal-12) / 16) * 1rem);

  /*
   * Line tokens
   */

  --border-width: calc((1 / 16) * 1rem);

  --outline-width: calc((2 / 16) * 1rem);

  --rule-height: calc((2 / 16) * 1rem);
  --rule-width: calc((64 / 16) * 1rem);

  --border-offset-card: calc((4 / 16) * 1rem);

  /*
   * Dimension tokens
   */

  --measured: 35.25em;

  --section-max-width: calc((1220 / 16) * 1rem);

  --site-header-height: var(--space-vertical-09);

  @media (min-width: 48em) {
    --site-header-height: var(--space-vertical-10);
  }

  /*
   * Corner tokens
   */

  --border-radius-focus: calc((1 / 16) * 1rem);
  --border-radius-image: calc((4 / 16) * 1rem);
  --border-radius-button: calc((8 / 16) * 1rem);
  --border-radius-card: calc((18 / 16) * 1rem);

  --corner-ratio-square: 0.16666667;

  /*
   * Motion tokens
   */

  --easing-cubic-bezier-easy-ease: cubic-bezier(0.44, 0, 0.55, 0.94);
  --easing-cubic-bezier-ease-in: cubic-bezier(0.44, 0, 1, 1);
  --easing-cubic-bezier-ease-out: cubic-bezier(0, 0, 0.55, 0.94);
  --easing-cubic-bezier-reverse-easy-ease: cubic-bezier(0.96, 0.03, 0.53, 0.96);

  /*
   * Color tokens
   */

  --color-brand: var(--color-azure-04);
  --color-rule: var(--color-azure-08);

  --color-background-emphasis: var(--color-white);
  --color-background: var(--color-grey-12);
  --color-text-contrast: var(--color-grey-12);
  --color-background-highlight: var(--color-grey-10);
  --color-border-light: var(--color-grey-10);
  --color-border: var(--color-grey-09);
  --color-text-muted: var(--color-grey-06);
  --color-text-prose: var(--color-grey-02);
  --color-text: var(--color-grey-01);

  --color-interactive: var(--color-brand);
  --color-interactive-hover: var(--color-azure-03);
  --color-interactive-focus: var(--color-rose-06);
  --color-interactive-active: var(--color-azure-02);
  --color-interactive-visited: var(--color-violet-05);

  --color-interactive-neutral: var(--color-text);
  --color-interactive-neutral-hover: var(--color-interactive);
  --color-interactive-neutral-active: var(--color-interactive-active);

  --color-interactive-prose: var(--color-azure-05);
  --color-interactive-prose-rule-active: var(--color-interactive-active);

  --color-interactive-contrast: var(--color-text-contrast);

  --box-shadow: 0.125rem 0.125rem 0.25rem
    color-mix(in srgb, var(--color-black) 08%, transparent);
  --box-shadow-light-source: none;

  --color-button-background: var(--color-background-emphasis);

  --color-card-background: var(--color-background-emphasis);
  --color-card-border: var(--color-rule);
  --color-card-dots-hover: var(--color-rule);
  --color-card-dots: var(--color-border-light);
  --color-card-interactive: var(--color-interactive);
  --color-card-text: var(--color-text);

  --color-code-border: var(--color-rule);
  --color-code-highlight-border: transparent;

  --color-copy-interactive: var(--color-interactive);
  --color-copy-interactive-hover: var(--color-interactive-hover);
  --color-copy-text: var(--color-text);

  --color-logo: var(--color-brand);

  @media (forced-colors: active) {
    --color-logo: CanvasText;
  }

  --color-site-header-background: var(--color-background);
  --site-header-box-shadow: 0 0 0 var(--border-width) var(--color-border-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-brand: var(--color-azure-07);
    --color-rule: var(--color-azure-03);

    --color-background-emphasis: var(--color-grey-01);
    --color-background: var(--color-grey-02);
    --color-text-contrast: var(--color-grey-02);
    --color-background-highlight: var(--color-grey-03);
    --color-border-light: var(--color-grey-04);
    --color-border: var(--color-grey-05);
    --color-text-muted: var(--color-grey-07);
    --color-text-prose: var(--color-grey-10);
    --color-text: var(--color-grey-11);

    --color-interactive: var(--color-brand);
    --color-interactive-hover: var(--color-azure-06);
    --color-interactive-focus: var(--color-rose-05);
    --color-interactive-active: var(--color-azure-05);
    --color-interactive-visited: var(--color-violet-06);

    --color-interactive-neutral: var(--color-grey-12);
    --color-interactive-neutral-hover: var(--color-grey-09);
    --color-interactive-neutral-active: var(--color-grey-08);

    --color-interactive-prose: var(--color-interactive-hover);
    --color-interactive-prose-rule-active: var(--color-rule);

    --color-interactive-contrast: var(--color-text-contrast);

    --box-shadow: 0.125rem 0.125rem 0.25rem
      color-mix(in srgb, var(--color-black) 92%, transparent);
    --box-shadow-light-source: none;

    --color-button-background: var(--color-background-emphasis);

    --color-card-background: var(--color-background-emphasis);
    --color-card-border: var(--color-rule);
    --color-card-dots-hover: var(--color-rule);
    --color-card-dots: var(--color-border-light);
    --color-card-interactive: var(--color-interactive);
    --color-card-text: var(--color-text);

    --color-code-border: var(--color-rule);
    --color-code-highlight-border: var(--color-border);

    --color-copy-interactive: var(--color-interactive);
    --color-copy-interactive-hover: var(--color-interactive-hover);
    --color-copy-text: var(--color-text);

    --color-logo: var(--color-brand);

    @media (forced-colors: active) {
      --color-logo: CanvasText;
    }

    --color-site-header-background: var(--color-background);
    --site-header-box-shadow: 0 0 0 var(--border-width)
      var(--color-border-light);
  }
}

@supports (font-variation-settings: normal) {
  :root {
    --font-stack: InterVariable, system-ui, sans-serif;
  }
}
