:root {
  --base00: var(--color-orange-9); /* Default Background */
  --base01: var(--color-orange-8); /* Unused */
  --base02: var(--color-orange-7); /* Selection Background */
  --base03: var(--color-grey-3); /* Comments, Invisibles, Line Highlighting */
  --base04: var(--color-grey-2); /* Dark Foreground (Used for status bars) */
  --base05: var(--color-grey-1); /* Default Foreground, Caret, Delimiters, Operators */
  --base06: var(--color-grey-0); /* Unused */
  --base07: var(--color-black); /* Unused */
  --base08: var(--color-red-3); /* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --base09: var(--color-orange-3); /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --base0A: var(--color-yellow-3); /* Classes, Markup Bold, Search Text Background */
  --base0B: var(--color-green-3); /* Strings, Inherited Class, Markup Code, Diff Inserted */
  --base0C: var(--color-cyan-3); /* Support, Regular Expressions, Escape Characters, Markup Quotes */
  --base0D: var(--color-azure-3); /* Functions, Methods, Attribute IDs, Headings */
  --base0E: var(--color-blue-3); /* Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --base0F: var(--color-rose-3); /* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php> */
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: var(--color-cyan-0); /* Default Background */
    --base01: var(--color-cyan-1); /* Unused */
    --base02: var(--color-cyan-2); /* Selection Background */
    --base03: var(--color-grey-5); /* Comments, Invisibles, Line Highlighting  */
    --base04: var(--color-grey-6); /* Dark Foreground (Used for status bars) */
    --base05: var(--color-grey-7); /* Default Foreground, Caret, Delimiters, Operators */
    --base06: var(--color-grey-8); /* Unused */
    --base07: var(--color-grey-9); /* Unused */
    --base08: var(--color-red-5); /* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
    --base09: var(--color-orange-5); /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
    --base0A: var(--color-yellow-5); /* Classes, Markup Bold, Search Text Background */
    --base0B: var(--color-green-5); /* Strings, Inherited Class, Markup Code, Diff Inserted */
    --base0C: var(--color-cyan-5); /* Support, Regular Expressions, Escape Characters, Markup Quotes */
    --base0D: var(--color-azure-5); /* Functions, Methods, Attribute IDs, Headings */
    --base0E: var(--color-blue-5); /* Keywords, Storage, Selector, Markup Italic, Diff Changed */
    --base0F: var(--color-rose-5); /* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php> */
  }
}

.hljs,
.msrd .msrd-Markdown pre code {
  color: var(--base05);
  background: var(--base00);
}

.hljs::selection,
.hljs ::selection,
.msrd .msrd-Markdown pre code::selection,
.msrd .msrd-Markdown pre code ::selection {
  background-color: var(--base02);
  color: var(--base05);
}

.hljs-comment {
  color: var(--base03);
  font-style: italic;
}

.hljs-tag {
  color: var(--base04);
}

.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: var(--base05);
}

.hljs-operator {
  opacity: 0.7;
}

.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: var(--base08);
}

.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: var(--base09);
}

.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--base0A);
}

.hljs-strong {
  font-weight: bold;
  color: var(--base0A);
}

.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: var(--base0B);
}

.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: var(--base0C);
}

.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: var(--base0D);
}

.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: var(--base0E);
}

.hljs-emphasis {
  color: var(--base0E);
  font-style: italic;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: var(--base0F);
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold;
}
