.msrd .msrd-Markdown {
  color: var(--color-text-prose);
  font-size: var(--font-03-size);
  line-height: var(--font-03-line-height);
}

.msrd .msrd-Markdown--measured {
  max-inline-size: var(--measured);
}

.msrd .msrd-Markdown--inline {
  font: inherit;
  max-inline-size: 100%;
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown {
    font-size: var(--font-04-size);
    line-height: var(--font-04-line-height-large);
  }

  .msrd .msrd-Markdown--inline {
    font: inherit;
  }
}

.msrd .msrd-Markdown a {
  color: var(--color-interactive-prose);
  text-decoration: none;
}

.msrd .msrd-Markdown a:visited {
  color: var(--color-interactive-visited);
}

@media (hover: hover) {
  .msrd .msrd-Markdown a:hover {
    color: var(--color-interactive-prose);
    text-decoration: underline;
    text-decoration-color: var(--color-rule);
    text-decoration-thickness: 0.09em;
    text-underline-offset: 0.34em;
  }
}

.msrd .msrd-Markdown a:active {
  color: var(--color-interactive-active);
  text-decoration-color: var(--color-interactive-prose-rule-active);
  text-underline-offset: 0.39em;
}

.msrd .msrd-Markdown blockquote {
  margin-block-end: var(--space-vertical-05);
  margin-block-start: 0;
  margin-inline: 0;
}

.msrd .msrd-Markdown blockquote p {
  margin-block-end: 0;
  quotes: "“" "”" "‘" "’";
}

.msrd .msrd-Markdown blockquote p:first-child::before {
  content: open-quote;
  margin-inline-start: -0.81ch;
}

.msrd .msrd-Markdown blockquote p:first-child::after {
  content: close-quote;
}

.msrd .msrd-Markdown blockquote p + p {
  margin-block-start: var(--space-vertical-05);
}

.msrd .msrd-Markdown blockquote p + p:last-child {
  font-size: var(--font-02-size);
  line-height: var(--font-02-line-height);
  margin-block-start: var(--space-vertical-03);
  text-align: end;
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown blockquote p + p:last-child {
    font-size: var(--font-03-size);
    line-height: var(--font-03-line-height);
  }
}

.msrd .msrd-Markdown code {
  --padding-x-code-inline: 0.25em;
  background: var(--color-background-highlight);
  border-radius: var(--padding-x-code-inline);
  font-family: var(--font-family-monospaced);
  font-feature-settings: normal;
  font-weight: inherit;
  line-height: inherit;
  outline: 0.0625rem solid var(--color-code-highlight-border);
  padding-block-end: 0.055em;
  padding-inline-end: var(--padding-x-code-inline);
  padding-inline-start: var(--padding-x-code-inline);
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown p code {
    padding-block-end: 0.2em;
  }
}

.msrd .msrd-Markdown code .gfm-color-chip {
  --chip-size: 0.6em;
  block-size: var(--chip-size);
  border: var(--border-width) solid var(--color-background);
  border-radius: calc(var(--chip-size) * var(--corner-ratio-square));
  display: inline-block;
  forced-color-adjust: none;
  inline-size: var(--chip-size);
  margin-inline-start: 0.25em;
}

@media (prefers-color-scheme: dark) {
  .msrd .msrd-Markdown code {
    box-shadow: var(--box-shadow);
  }
}

.msrd .msrd-Markdown pre {
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-light-source);
  position: relative;
}

.msrd .msrd-Markdown pre::after {
  border: solid var(--border-width) var(--color-code-border);
  border-radius: var(--border-radius-card);
  content: "";
  inset-block-end: var(--border-offset-card);
  inset-block-start: calc(0rem - var(--border-offset-card));
  inset-inline-end: var(--border-offset-card);
  inset-inline-start: calc(0rem - var(--border-offset-card));
  pointer-events: none;
  position: absolute;
}

.msrd .msrd-Markdown pre code {
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow);
  display: block;
  font-family: var(--font-family-monospaced);
  font-feature-settings: normal;
  font-size: var(--font-02-size);
  font-weight: inherit;
  inline-size: 100%;
  line-height: var(--font-02-line-height);
  margin-block-end: var(--space-vertical);
  outline: none;
  overflow-x: auto;
  padding: var(--space-vertical);
  position: relative;
}

.msrd .msrd-Markdown h1,
.msrd .msrd-Markdown h2,
.msrd .msrd-Markdown h3,
.msrd .msrd-Markdown h4,
.msrd .msrd-Markdown h5,
.msrd .msrd-Markdown h6 {
  color: var(--color-text);
}

.msrd .msrd-Markdown h6 {
  font-size: var(--font-02-size);
  font-weight: 533;
  line-height: var(--font-02-line-height);
  margin-block-end: var(--space-vertical-03);
  margin-block-start: var(--space-vertical);
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown h6 {
    margin-block-end: var(--space-vertical);
    margin-block-start: var(--space-vertical-06);
  }
}

.msrd .msrd-Markdown h5 {
  font-size: var(--font-03-size);
  font-weight: 500;
  line-height: var(--font-03-line-height);
  margin-block-end: var(--space-vertical-03);
  margin-block-start: var(--space-vertical);
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown h5 {
    font-size: var(--font-04-size);
    line-height: var(--font-04-line-height);
    margin-block-end: var(--space-vertical);
    margin-block-start: var(--space-vertical-06);
  }
}

.msrd .msrd-Markdown h4 {
  font-size: var(--font-04-size);
  font-weight: 466;
  line-height: var(--font-04-line-height);
  margin-block-end: var(--space-vertical-03);
  margin-block-start: var(--space-vertical);
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown h4 {
    font-size: var(--font-05-size);
    line-height: var(--font-05-line-height);
    margin-block-end: var(--space-vertical);
    margin-block-start: var(--space-vertical-06);
  }
}

.msrd .msrd-Markdown h3 {
  font-size: var(--font-05-size);
  font-weight: 433;
  line-height: var(--font-05-line-height);
  margin-block-end: var(--space-vertical-03);
  margin-block-start: var(--space-vertical);
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown h3 {
    font-size: var(--font-06-size);
    line-height: var(--font-06-line-height);
    margin-block-end: var(--space-vertical);
    margin-block-start: var(--space-vertical-06);
  }
}

.msrd .msrd-Markdown h2 {
  font-size: var(--font-07-size);
  font-weight: 400;
  line-height: var(--font-07-line-height);
  margin-block-end: var(--space-vertical-03);
  margin-block-start: var(--space-vertical);
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown h2 {
    font-size: var(--font-08-size);
    line-height: var(--font-08-line-height);
    margin-block-end: var(--space-vertical);
    margin-block-start: var(--space-vertical-06);
  }
}

.msrd .msrd-Markdown h1 {
  font-size: var(--font-09-size);
  font-weight: 400;
  line-height: var(--font-09-line-height);
  margin-block-start: 0;
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown h1 {
    font-size: var(--font-10-size);
    line-height: var(--font-10-line-height);
  }
}

.msrd .msrd-Markdown h1 + h2,
.msrd .msrd-Markdown h2 + h3,
.msrd .msrd-Markdown h3 + h4,
.msrd .msrd-Markdown h4 + h5,
.msrd .msrd-Markdown h5 + h6 {
  margin-block-start: 0;
}

.msrd .msrd-Markdown hr {
  border: 0;
  border-block-start: var(--rule-height) solid var(--color-rule);
  inline-size: var(--rule-width);
  margin-block-end: var(--space-vertical);
  margin-block-start: 0;
  margin-inline: 0;
}

.msrd .msrd-Markdown p:has(img) {
  box-shadow: var(--box-shadow-light-source);
}

.msrd .msrd-Markdown img {
  border-radius: var(--border-radius-image);
  box-shadow: var(--box-shadow);
}

.msrd .msrd-Markdown li {
  --bullet-space: 1.5em;
  padding-inline-start: var(--bullet-space);
  position: relative;
  word-wrap: break-word;
}

.msrd .msrd-Markdown li::before {
  inline-size: var(--bullet-space);
  inset-inline-start: 0;
  position: absolute;
  text-align: center;
}

.msrd .msrd-Markdown ol,
.msrd .msrd-Markdown ul {
  list-style: none;
  margin-block-end: var(--space-vertical);
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
}

@media (min-width: 80em) {
  .msrd .msrd-Markdown > ol,
  .msrd .msrd-Markdown > ul {
    margin-inline-start: calc(30rem / -16);
  }
}

.msrd .msrd-Markdown ol {
  counter-reset: list;
}

.msrd .msrd-Markdown ol > li::before {
  content: counter(list) ".";
  counter-increment: list;
  font-family: var(--font-family-monospaced);
  font-feature-settings: normal;
  font-size: calc(13rem / 16);
  inline-size: calc(27rem / 16);
  line-height: calc(27 / 13);
  padding-inline-end: calc(3rem / 16);
  text-align: end;
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown ol > li::before {
    font-size: calc(14rem / 16);
    inline-size: calc(30rem / 16);
    line-height: calc(36 / 14);
    padding-inline-end: calc(4rem / 16);
  }
}

.msrd .msrd-Markdown ul > li::before {
  content: "•";
}

.msrd .msrd-Markdown p {
  margin-block-end: var(--space-vertical);
  margin-block-start: 0;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

.msrd .msrd-Markdown table {
  border-collapse: collapse;
  font: inherit;
  font-family: var(--font-family-monospaced);
  font-feature-settings: normal;
  font-size: var(--font-02-size);
  font-weight: inherit;
  inline-size: 100%;
  line-height: var(--font-02-line-height);
  margin-block-end: var(--space-vertical);
}

.msrd .msrd-Markdown tbody tr:nth-child(even) {
  background-color: var(--color-background-highlight);
}

.msrd .msrd-Markdown td,
.msrd .msrd-Markdown th {
  border: calc(1rem / 16) solid var(--color-border);
  padding-block: calc(5.5rem / 16);
  padding-inline: calc(15rem / 16);
  vertical-align: middle;
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown td,
  .msrd .msrd-Markdown th {
    padding-block: calc(10rem / 16);
    padding-inline: calc(23rem / 16);
  }
}

.msrd .msrd-Markdown #footnote-label {
  block-size: calc(1rem / 16);
  border: 0;
  clip: rect(0, 0, 0, 0);
  inline-size: calc(1rem / 16);
  overflow: hidden;
  padding: 0;
  position: absolute;
  word-wrap: normal;
}

.msrd .msrd-Markdown .footnotes ol {
  font-size: var(--font-02-size);
  line-height: var(--font-02-line-height);
  padding-block-start: var(--space-vertical-03);
}

@media (min-width: 80em) {
  .msrd .msrd-Markdown .footnotes ol {
    margin-inline-start: calc(30rem / -16);
  }
}

.msrd .msrd-Markdown .footnotes ol::before {
  border-top: var(--rule-height) solid var(--color-rule);
  content: "";
  display: block;
  inline-size: var(--rule-width);
  margin-block-end: var(--space-vertical-06);
  position: relative;
}

@media (min-width: 80em) {
  .msrd .msrd-Markdown .footnotes ol::before {
    inset-inline-start: calc(30rem / 16);
  }
}

.msrd .msrd-Markdown .footnotes ol > li {
  padding-inline-start: calc(27rem / 16);
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown .footnotes ol > li {
    padding-inline-start: calc(30rem / 16);
  }
}

.msrd .msrd-Markdown .footnotes ol > li::before {
  line-height: calc(var(--space-scale-vertical) / 13);
}

@media (min-width: 48em) {
  .msrd .msrd-Markdown .footnotes ol > li::before {
    line-height: calc(var(--space-scale-vertical) / 14);
  }
}

.msrd .msrd-Markdown .data-footnote-backref:visited {
  color: var(--color-interactive-prose);
}

.msrd .msrd-Markdown [aria-describedby="footnote-label"]::before {
  content: "[";
}

.msrd .msrd-Markdown [aria-describedby="footnote-label"]::after {
  content: "]";
}

.msrd .msrd-Markdown .task-list-item {
  padding-inline-start: 0;
}

.msrd .msrd-Markdown .task-list-item::before {
  content: "";
}

.msrd .msrd-Markdown > :first-child {
  margin-block-start: 0;
}

.msrd .msrd-Markdown > :last-child {
  margin-block-end: 0;
}

.msrd .msrd-Markdown--left {
  text-align: start;
}

.msrd .msrd-Markdown--center {
  text-align: center;
}

.msrd .msrd-Markdown--right {
  text-align: end;
}
