.clbr .msrd-NewIdentityContact {
  display: flex;
  flex-wrap: wrap;
  gap: var(--clbr-spacing-vertical-700) var(--clbr-spacing-horizontal-600);
  justify-content: center;
  margin: 0 auto;
}

.clbr .msrd-NewIdentityContact-primary,
.clbr .msrd-NewIdentityContact-secondary {
  border: var(--clbr-layout-border-width-thick) solid
    var(--clbr-color-brand-primary);
  border-radius: var(--clbr-radius-sm);
  display: block;
  font-weight: 500;
  min-inline-size: calc((192 / 16) * 1rem);
  padding: calc(
      var(--clbr-spacing-vertical-500) - var(--clbr-layout-border-width-thick)
    )
    var(--clbr-spacing-horizontal-700);
  text-align: center;
  text-wrap: nowrap;
}

.clbr .msrd-NewIdentityContact-primary {
  background-color: var(--clbr-color-interactive-default);
  color: var(--clbr-color-foreground-contrast);
}

@media (hover: hover) {
  .clbr .msrd-NewIdentityContact-primary:hover {
    background-color: var(--clbr-color-interactive-hover);
    border-color: var(--clbr-color-interactive-hover);
    color: var(--clbr-color-foreground-contrast);
  }
}

.clbr .msrd-NewIdentityContact-primary:active {
  background-color: var(--clbr-color-interactive-active);
  border-color: var(--clbr-color-interactive-active);
  color: var(--clbr-color-foreground-contrast);
}

.clbr .msrd-NewIdentityContact-secondary {
  color: var(--clbr-color-interactive-default);
}

@media (hover: hover) {
  .clbr .msrd-NewIdentityContact-secondary:hover {
    background: color-mix(in srgb, var(--clbr-color-brand-primary) 7.5%, transparent);
    transition: 0.1s background-color var(--clbr-motion-easing-ease-in-out);
  }
}

.clbr .msrd-NewIdentityContact-secondary:active {
  background: color-mix(in srgb, var(--clbr-color-brand-primary) 15%, transparent);
}
