.msrd .msrd-NewIdentityContact {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-vertical) var(--space-horizontal);
  justify-content: center;
  margin: 0 auto;
}

.msrd .msrd-NewIdentityContact-primary,
.msrd .msrd-NewIdentityContact-secondary {
  --border-width: calc((2 / 16) * 1rem);
  border: calc(2rem / 16) solid var(--color-brand);
  border-radius: var(--border-radius-button);
  display: block;
  font-weight: 500;
  min-inline-size: calc((192 / 16) * 1rem);
  padding: calc(var(--space-vertical-03) - var(--border-width))
    var(--space-horizontal-06);
  text-align: center;
  text-wrap: nowrap;
}

.msrd .msrd-NewIdentityContact-primary {
  background-color: var(--color-interactive);
  color: var(--color-text-contrast);
}

@media (hover: hover) {
  .msrd .msrd-NewIdentityContact-primary:hover {
    background-color: var(--color-interactive-hover);
    border-color: var(--color-interactive-hover);
    color: var(--color-text-contrast);
  }
}

.msrd .msrd-NewIdentityContact-primary:active {
  background-color: var(--color-interactive-active);
  border-color: var(--color-interactive-active);
  color: var(--color-text-contrast);
}

.msrd .msrd-NewIdentityContact-secondary {
  color: var(--color-interactive);
}

@media (hover: hover) {
  .msrd .msrd-NewIdentityContact-secondary:hover {
    background: color-mix(in srgb, var(--color-brand) 7.5%, transparent);
    transition: 0.1s background-color var(--easing-cubic-bezier-easy-ease);
  }
}

.msrd .msrd-NewIdentityContact-secondary:active {
  background: color-mix(in srgb, var(--color-brand) 15%, transparent);
}
