.clbr .msrd-NewIdentityProcess {
  --border-offset: calc((7 / 16) * 1rem);
  --border-radius: calc((32 / 16) * 1rem);
  block-size: 100%;
  border-radius: var(--border-radius);
  box-shadow: none;
  display: flex;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: calc((705 / 16) * 1rem);
  position: relative;
}

.clbr .msrd-NewIdentityProcess-inner {
  border-radius: var(--border-radius);
  box-shadow: 0.125rem 0.125rem 1rem
    color-mix(in srgb, #000000 08%, transparent);
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding: var(--clbr-spacing-vertical-1000) var(--clbr-spacing-horizontal-800)
    var(--clbr-spacing-vertical-500) var(--clbr-spacing-horizontal-600);

  @media (prefers-color-scheme: dark) {
    box-shadow: 0.125rem 0.125rem 0.25rem
      color-mix(in srgb, #000000 94%, transparent);
  }
}

.clbr .msrd-NewIdentityProcess::after {
  border: solid calc((2 / 16) * 1rem) #3598f8;
  border-radius: var(--border-radius);
  content: "";
  inset-block-end: var(--border-offset);
  inset-block-start: calc(0rem - var(--border-offset));
  inset-inline-end: var(--border-offset);
  inset-inline-start: calc(0rem - var(--border-offset));
  pointer-events: none;
  position: absolute;
  transition: 0.05s var(--clbr-motion-easing-ease-in-out);
}

.clbr .msrd-NewIdentityProcess-dots {
  align-items: center;
  block-size: var(--clbr-spacing-horizontal-600);
  display: flex;
  inline-size: 4rem;
  inset-block-start: var(--clbr-spacing-horizontal-700);
  inset-inline-start: var(--clbr-spacing-horizontal-700);
  justify-content: space-between;
  position: absolute;
}

.clbr .msrd-NewIdentityProcess-dots::before,
.clbr .msrd-NewIdentityProcess-dots::after,
.clbr .msrd-NewIdentityProcess-dotsInner {
  background-color: #3598f8;
  block-size: var(--clbr-spacing-horizontal-600);
  border-radius: 50%;
  content: "";
  inline-size: var(--clbr-spacing-horizontal-600);
}

.clbr .msrd-NewIdentityProcess-steps {
  font-size: var(--clbr-typography-type-step-100-font-size);
  line-height: var(--clbr-typography-type-step-150-line-height);
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  position: relative;
}

.clbr .msrd-NewIdentityProcess-start {
  align-items: center;
  display: flex;
  gap: var(--clbr-spacing-horizontal-500);
  inline-size: calc((146 / 16) * 1rem);
  inset-inline-start: calc((-62 / 16) * 1rem);
  margin-block-end: var(--clbr-spacing-vertical-800);
  margin-inline: auto;
  position: relative;
}

.clbr .msrd-NewIdentityProcess-card {
  background-color: #3598f8;
  border-radius: var(--clbr-radius-lg);
  color: #0e0f10;
  margin-block-end: var(--clbr-spacing-vertical-800);
  margin-inline: auto;
  max-inline-size: 100%;
  padding: var(--clbr-spacing-vertical-600);
  position: relative;
}

.clbr .msrd-NewIdentityProcess-card:nth-child(2) {
  inline-size: calc((330 / 16) * 1rem);
}

.clbr .msrd-NewIdentityProcess-card:nth-child(3) {
  inline-size: calc((224 / 16) * 1rem);
}

.clbr .msrd-NewIdentityProcess-card:nth-child(4) {
  inline-size: calc((240 / 16) * 1rem);
}

.clbr .msrd-NewIdentityProcess-card:nth-child(5) {
  inline-size: calc((216 / 16) * 1rem);
}

.clbr .msrd-NewIdentityProcess-card:nth-child(6) {
  background-color: #0158ad;
  color: #f2f3f4;
  inline-size: calc((280 / 16) * 1rem);
}

.clbr .msrd-NewIdentityProcess-start::after,
.clbr .msrd-NewIdentityProcess-card::after {
  background-image: radial-gradient(
    #e4f1fe calc(2rem / 16),
    transparent 0
  );
  background-position: center;
  background-repeat: repeat-y;
  background-size: calc((10 / 16) * 1rem) calc((10 / 16) * 1rem);
  block-size: calc((36 / 16) * 1rem);
  content: "";
  inline-size: calc((10 / 16) * 1rem);
  inset-block-end: calc((-36 / 16) * 1rem);
  inset-inline-end: calc((10 / 16) * 1rem);
  position: absolute;
}

.clbr .msrd-NewIdentityProcess-card::after {
  inset-inline-start: 50%;
  margin-inline-start: calc((-10 / 16) * 1rem);
}

.clbr .msrd-NewIdentityProcess-card:nth-child(6)::after {
  content: none;
}

.clbr .msrd-NewIdentityProcess-heading {
  font-size: var(--clbr-typography-type-step-100-font-size);
  font-weight: 550;
  line-height: var(--clbr-typography-type-step-150-line-height);
  margin-block-end: var(--clbr-spacing-vertical-500);
  margin-block-start: 0;
}

.clbr .msrd-NewIdentityProcess-cardInner {
  align-items: flex-start;
  display: flex;
  gap: var(--clbr-spacing-horizontal-600);
}

.clbr .msrd-NewIdentityProcess-button {
  border: calc((2 / 16) * 1rem) solid #0e0f10;
  border-radius: var(--clbr-radius-sm);
  color: #0e0f10;
  display: block;
  font-weight: 450;
  inline-size: min-content;
  padding: var(--clbr-spacing-vertical-250) var(--clbr-spacing-horizontal-600);
  transition: 0.1s var(--clbr-motion-easing-ease-in-out);
  white-space: nowrap;
}

.clbr .msrd-NewIdentityProcess-button:focus {
  outline-color: #031f60;
}

@media (hover: hover) {
  .clbr .msrd-NewIdentityProcess-button:hover {
    background: rgba(0, 0, 0, 0.055);
    transition: 0.1s background-color var(--clbr-motion-easing-ease-in-out);
  }
}

.clbr .msrd-NewIdentityProcess-button:active {
  background: rgba(0, 0, 0, 0.11);
}

@media (min-width: 48em) {
  .clbr .msrd-NewIdentityProcess {
    min-height: calc((780 / 16) * 1rem);
  }

  .clbr .msrd-NewIdentityProcess-inner::before {
    background-image: url(https://res.cloudinary.com/measuredco/image/upload/f_auto,q_auto/v1741341203/site/process-dots_uxq3qy.png);
    background-origin: content-box;
    background-position-x: calc((150 / 16) * 1rem);
    background-position-y: calc((47 / 16) * 1rem);
    background-repeat: no-repeat;
    background-size: calc((432 / 16) * 1rem) calc((560 / 16) * 1rem);
    content: "";
    inset-block-end: 0;
    inset-block-start: calc((72 / 16) * 1rem);
    inset-inline-end: 0;
    inset-inline-start: calc((16 / 16) * 1rem);
    position: absolute;
  }

  :dir(rtl) .clbr .msrd-NewIdentityProcess-inner::before,
  .translated-rtl .clbr .msrd-NewIdentityProcess-inner::before {
    inset-inline-start: calc((32 / 16) * 1rem);
    transform: scaleX(-1);
  }

  .clbr .msrd-NewIdentityProcess-start {
    inset-block-start: calc((32 / 16) * 1rem);
    inset-inline-start: calc((8 / 16) * 1rem);
    margin-inline-start: var(--clbr-spacing-horizontal-700);
    position: absolute;
  }

  .clbr .msrd-NewIdentityProcess-start :first-child {
    order: inherit;
  }

  .clbr .msrd-NewIdentityProcess-card {
    position: absolute;
  }

  .clbr .msrd-NewIdentityProcess-card:nth-child(2) {
    inset-block-start: calc((8 / 16) * 1rem);
    inset-inline-end: calc((48 / 16) * 1rem);
  }

  .clbr .msrd-NewIdentityProcess-card:nth-child(3) {
    inset-block-start: calc((104 / 16) * 1rem);
    inset-inline-start: calc((16 / 16) * 1rem);
  }

  .clbr .msrd-NewIdentityProcess-card:nth-child(4) {
    inset-block-start: calc((286 / 16) * 1rem);
    inset-inline-start: calc((124 / 16) * 1rem);
  }

  .clbr .msrd-NewIdentityProcess-card:nth-child(5) {
    inset-block-start: calc((509 / 16) * 1rem);
    inset-inline-end: calc((16 / 16) * 1rem);
  }

  .clbr .msrd-NewIdentityProcess-card:nth-child(6) {
    inset-block-start: calc((545 / 16) * 1rem);
    inset-inline-start: calc((57 / 16) * 1rem);
  }

  .clbr .msrd-NewIdentityProcess-start::after,
  .clbr .msrd-NewIdentityProcess-card::after {
    content: none;
  }
}
