.msrd .msrd-NewIdentityProcess {
  --border-offset: calc((7 / 16) * 1rem);
  --border-radius: calc((32 / 16) * 1rem);
  block-size: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light-source);
  display: flex;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: calc((705 / 16) * 1rem);
  position: relative;
}

.msrd .msrd-NewIdentityProcess-inner {
  --box-shadow: 0.125rem 0.125rem 1rem
    color-mix(in srgb, var(--color-black) 08%, transparent);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding: var(--space-vertical-09) var(--space-horizontal-07)
    var(--space-vertical-03) var(--space-horizontal-05);

  @media (prefers-color-scheme: dark) {
    --box-shadow: 0.125rem 0.125rem 0.25rem
      color-mix(in srgb, var(--color-black) 92%, transparent);
  }
}

.msrd .msrd-NewIdentityProcess::after {
  border: solid calc((2 / 16) * 1rem) var(--color-azure-07);
  border-radius: var(--border-radius);
  content: "";
  inset-block-end: var(--border-offset);
  inset-block-start: calc(0rem - var(--border-offset));
  inset-inline-end: var(--border-offset);
  inset-inline-start: calc(0rem - var(--border-offset));
  pointer-events: none;
  position: absolute;
  transition: 0.05s var(--easing-cubic-bezier-easy-ease);
}

.msrd .msrd-NewIdentityProcess-dots {
  align-items: center;
  block-size: var(--space-horizontal-05);
  display: flex;
  inline-size: var(--space-horizontal-11);
  inset-block-start: var(--space-horizontal-06);
  inset-inline-start: var(--space-horizontal-06);
  justify-content: space-between;
  position: absolute;
}

.msrd .msrd-NewIdentityProcess-dots::before,
.msrd .msrd-NewIdentityProcess-dots::after,
.msrd .msrd-NewIdentityProcess-dotsInner {
  background-color: var(--color-azure-07);
  block-size: var(--space-horizontal-05);
  border-radius: 50%;
  content: "";
  inline-size: var(--space-horizontal-05);
}

.msrd .msrd-NewIdentityProcess-steps {
  font-size: var(--font-01-size);
  line-height: var(--font-01-line-height);
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
  position: relative;
}

.msrd .msrd-NewIdentityProcess-start {
  align-items: center;
  display: flex;
  gap: var(--space-horizontal-04);
  inline-size: calc((146 / 16) * 1rem);
  inset-inline-start: calc((-62 / 16) * 1rem);
  margin-block-end: var(--space-vertical-06);
  margin-inline: auto;
  position: relative;
}

.msrd .msrd-NewIdentityProcess-card {
  background-color: var(--color-azure-07);
  border-radius: var(--border-radius-card);
  color: var(--color-grey-02);
  margin-block-end: var(--space-vertical-06);
  margin-inline: auto;
  max-inline-size: 100%;
  padding: var(--space-vertical-04);
  position: relative;
}

.msrd .msrd-NewIdentityProcess-card:nth-child(2) {
  inline-size: calc((330 / 16) * 1rem);
}

.msrd .msrd-NewIdentityProcess-card:nth-child(3) {
  inline-size: calc((224 / 16) * 1rem);
}

.msrd .msrd-NewIdentityProcess-card:nth-child(4) {
  inline-size: calc((240 / 16) * 1rem);
}

.msrd .msrd-NewIdentityProcess-card:nth-child(5) {
  inline-size: calc((216 / 16) * 1rem);
}

.msrd .msrd-NewIdentityProcess-card:nth-child(6) {
  background-color: var(--color-azure-04);
  color: var(--color-white);
  inline-size: calc((280 / 16) * 1rem);
}

.msrd .msrd-NewIdentityProcess-start::after,
.msrd .msrd-NewIdentityProcess-card::after {
  background-image: radial-gradient(var(--color-azure-10) calc(2rem / 16), transparent 0);
  background-position: center;
  background-repeat: repeat-y;
  background-size: calc((10 / 16) * 1rem) calc((10 / 16) * 1rem);
  block-size: calc((36 / 16) * 1rem);
  content: "";
  inline-size: calc((10 / 16) * 1rem);
  inset-block-end: calc((-36 / 16) * 1rem);
  inset-inline-end: calc((10 / 16) * 1rem);
  position: absolute;
}

.msrd .msrd-NewIdentityProcess-card::after {
  inset-inline-start: 50%;
  margin-inline-start: calc((-10 / 16) * 1rem);
}

.msrd .msrd-NewIdentityProcess-card:nth-child(6)::after {
  content: none;
}

.msrd .msrd-NewIdentityProcess-heading {
  font-size: var(--font-01-size);
  font-weight: 550;
  line-height: var(--font-01-line-height);
  margin-block-end: var(--space-vertical-03);
  margin-block-start: 0;
}

.msrd .msrd-NewIdentityProcess-cardInner {
  align-items: start;
  display: flex;
  gap: var(--space-horizontal);
}

.msrd .msrd-NewIdentityProcess-button {
  border: calc((2 / 16) * 1rem) solid var(--color-grey-02);
  border-radius: var(--border-radius-button);
  color: var(--color-grey-02);
  display: block;
  font-weight: 450;
  inline-size: min-content;
  padding: var(--space-vertical-01) var(--space-horizontal-05);
  transition: 0.1s var(--easing-cubic-bezier-easy-ease);
  white-space: nowrap;
}

.msrd .msrd-NewIdentityProcess-button:focus {
  outline-color: var(--color-azure-01);
}

@media (hover: hover) {
  .msrd .msrd-NewIdentityProcess-button:hover {
    background: rgba(0, 0, 0, 0.055);
    transition: 0.1s background-color var(--easing-cubic-bezier-easy-ease);
  }
}

.msrd .msrd-NewIdentityProcess-button:active {
  background: rgba(0, 0, 0, 0.11);
}

@media (min-width: 48em) {
  .msrd .msrd-NewIdentityProcess {
    min-height: calc((780 / 16) * 1rem);
  }

  .msrd .msrd-NewIdentityProcess-inner {
    background-image: url(https://res.cloudinary.com/measuredco/image/upload/f_auto,q_auto/v1741341203/site/process-dots_uxq3qy.png);
    background-origin: content-box;
    background-position-x: calc((150 / 16) * 1rem);
    background-position-y: calc((47 / 16) * 1rem);
    background-repeat: no-repeat;
    background-size: calc((432 / 16) * 1rem) calc((560 / 16) * 1rem);
  }

  .msrd .msrd-NewIdentityProcess-start {
    inset-block-start: calc((32 / 16) * 1rem);
    inset-inline-start: calc((8 / 16) * 1rem);
    margin-inline-start: var(--space-horizontal-06);
    position: absolute;
  }

  .msrd .msrd-NewIdentityProcess-start :first-child {
    order: inherit;
  }

  .msrd .msrd-NewIdentityProcess-card {
    position: absolute;
  }

  .msrd .msrd-NewIdentityProcess-card:nth-child(2) {
    inset-block-start: calc((8 / 16) * 1rem);
    inset-inline-end: calc((48 / 16) * 1rem);
  }

  .msrd .msrd-NewIdentityProcess-card:nth-child(3) {
    inset-block-start: calc((104 / 16) * 1rem);
    inset-inline-start: calc((16 / 16) * 1rem);
  }

  .msrd .msrd-NewIdentityProcess-card:nth-child(4) {
    inset-block-start: calc((286 / 16) * 1rem);
    inset-inline-start: calc((124 / 16) * 1rem);
  }

  .msrd .msrd-NewIdentityProcess-card:nth-child(5) {
    inset-block-start: calc((509 / 16) * 1rem);
    inset-inline-end: calc((16 / 16) * 1rem);
  }

  .msrd .msrd-NewIdentityProcess-card:nth-child(6) {
    inset-block-start: calc((545 / 16) * 1rem);
    inset-inline-start: calc((57 / 16) * 1rem);
  }

  .msrd .msrd-NewIdentityProcess-start::after,
  .msrd .msrd-NewIdentityProcess-card::after {
    content: none;
  }
}
