.msrd .msrd-SiteHeaderCallToAction {
  color: inherit;
}

@media (hover: hover) {
  .msrd .msrd-SiteHeaderCallToAction:hover {
    color: var(--color-interactive-neutral-hover);
  }

  .msrd
    .msrd-SiteHeaderCallToAction:hover
    .msrd-SiteHeaderCallToAction-text::after {
    left: 0.25em;
    opacity: 1;
    transition: 0.1s opacity var(--easing-cubic-bezier-easy-ease),
      0.2s left var(--easing-cubic-bezier-easy-ease);
  }
}

.msrd .msrd-SiteHeaderCallToAction:active {
  color: var(--color-interactive-neutral-active);
}

.msrd
  .msrd-SiteHeaderCallToAction:active
  .msrd-SiteHeaderCallToAction-text::after {
  opacity: 0;
}

@media (min-width: 48em) {
  .msrd .msrd-SiteHeaderCallToAction-text::after {
    content: "→";
    left: 0;
    opacity: 0;
    position: relative;
  }

  .msrd .msrd-SiteHeaderCallToAction {
    align-items: center;
    background-color: var(--color-interactive);
    border: var(--border-width) solid var(--color-interactive);
    border-radius: var(--border-radius-button);
    color: var(--color-interactive-contrast);
    display: flex;
    font-weight: 500;
    height: var(--space-vertical-07);
    padding-bottom: 0;
    padding-left: calc(var(--space-horizontal-06) + 0.9em);
    padding-right: var(--space-horizontal-06);
    padding-top: 0;
  }

  .msrd .msrd-SiteHeaderCallToAction:hover {
    /* background-color: var(--color-interactive-hover); */
    color: var(--color-interactive-contrast);
  }

  .msrd .msrd-SiteHeaderCallToAction:active {
    /* background-color: var(--color-interactive-active); */
    color: var(--color-interactive-contrast);
  }

  @media (prefers-color-scheme: dark) {
    .msrd .msrd-SiteHeaderCallToAction,
    .msrd .msrd-SiteHeaderCallToAction:hover,
    .msrd .msrd-SiteHeaderCallToAction:active {
      background-color: transparent;
      border-color: inherit;
      color: inherit;
    }
  }
}

/*
 * Home
 */

@media (min-width: 48em) {
  .msrd .msrd-Surface--graphicDark .msrd-SiteHeaderCallToAction,
  .msrd .msrd-Surface--graphicDark .msrd-SiteHeaderCallToAction:hover,
  .msrd .msrd-Surface--graphicDark .msrd-SiteHeaderCallToAction:active {
    background-color: transparent;
    border-color: inherit;
    color: inherit;
  }
}
