.msrd .msrd-Logos {
  color: inherit;
  display: flex;
  gap: var(--space-horizontal-07);
  margin-inline: auto;
  max-inline-size: var(--section-max-width);
  user-select: none;
}

.msrd .msrd-Logos-inner {
  animation: scroll 20s linear infinite;
  display: flex;
  flex-shrink: 0;
  gap: var(--space-vertical) var(--space-horizontal-07);
  justify-content: space-around;
  list-style: none;
  margin-block: 0;
  min-inline-size: 100%;
  padding-inline-start: 0;
}

:dir(rtl) .msrd .msrd-Logos-inner,
.translated-rtl .msrd .msrd-Logos-inner {
  animation: scroll-rtl 20s linear infinite;
}

.msrd .msrd-Logos:has(a:hover) .msrd-Logos-inner {
  animation-play-state: paused;
}

@media (min-width: 76.25em) {
  .msrd .msrd-Logos-inner {
    animation: none;
    justify-content: space-between;
  }

  :dir(rtl) .msrd .msrd-Logos-inner,
  .translated-rtl .msrd .msrd-Logos-inner {
    animation: none;
  }

  .msrd .msrd-Logos-inner + .msrd-Logos-inner {
    display: none;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--space-horizontal-07)));
  }
}

@keyframes scroll-rtl {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% - var(--space-horizontal-07)));
  }
}

@media (prefers-reduced-motion) {
  .msrd .msrd-Logos-inner + .msrd-Logos-inner {
    display: none;
  }

  .msrd .msrd-Logos {
    padding-inline: var(--space-horizontal);
  }

  @media (min-width: 48em) {
    .msrd .msrd-Logos {
      padding-inline: var(--space-horizontal-07);
    }
  }

  .msrd .msrd-Logos-inner {
    animation: none;
    flex-shrink: 1;
    flex-wrap: wrap;
    row-gap: var(--space-vertical-03);
  }

  @media (min-width: 48em) {
    .msrd .msrd-Logos-inner {
      row-gap: var(--space-vertical);
    }
  }

  @media (min-width: 78.25em) {
    .msrd .msrd-Logos {
      padding-inline: 0;
    }
  }
}

.msrd .msrd-Logos-link {
  align-items: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: var(--space-vertical-02);

  &:focus-visible {
    outline: none;
  }
}

.msrd .msrd-Logos-label {
  background-color: color-mix(in srgb, var(--color-azure-07) 38%, transparent);
  border-radius: var(--border-radius-image);
  color: var(--color-white);
  font-family: var(--font-family-monospaced);
  font-size: calc((10 / 16) * 1rem);
  line-height: calc(12 / 10);
  padding: var(--space-vertical-01) var(--space-horizontal-02);
  text-transform: uppercase;
  white-space: nowrap;
}

.msrd .msrd-Logos-link:focus-visible .msrd-Logos-label {
  border-radius: var(--border-radius-focus);
  outline: var(--outline-width) solid var(--color-interactive-focus);
  outline-offset: var(--outline-width);
}

.msrd .msrd-Logos-link:hover .msrd-Logos-label {
  background-color: color-mix(in srgb, var(--color-azure-07) 54%, transparent);
}

.msrd .msrd-Logos-link:active .msrd-Logos-label {
  background-color: color-mix(in srgb, var(--color-azure-07) 70%, transparent);
}
