.msrd {
  background-color: var(--color-background);
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--font-family);
  font-feature-settings: "calt" 1, "ccmp" 1, "ss03" 1;
  font-optical-sizing: none;
  line-height: var(--line-height);
  margin: 0;
}

.msrd *,
.msrd *::after,
.msrd *::before {
  box-sizing: border-box;
}

.msrd a {
  text-decoration: none;
}

.msrd :focus {
  outline: none;
}

.msrd :focus-visible {
  border-radius: 0.0625rem;
  outline: 0.125rem solid var(--color-interactive-focus);
  outline-offset: 0.125rem;
}

.msrd a:not([class]) {
  color: var(--color-interactive);
}

/* .msrd a:not([class]):visited {
  color: var(--color-brand);
} */

@media (hover: hover) {
  .msrd a:not([class]):hover {
    color: var(--color-interactive-hover);
  }
}

.msrd a:not([class]):active {
  color: var(--color-interactive-active);
}

.msrd img {
  display: block;
  height: auto;
  max-width: 100%;
}

.msrd strong {
  font-weight: 566;
}

.msrd svg {
  display: block;
  max-width: 100%;
}

/*
 * Utilities
 */

.msrd-u-colorTextMuted {
  color: var(--color-text-muted);
}

.msrd-u-overflowHidden {
  overflow: hidden;
}

.msrd-u-visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
