.msrd .msrd-Section {
  padding-left: var(--space-horizontal);
  padding-right: var(--space-horizontal);
}

.msrd .msrd-Section-inner {
  max-width: var(--section-max-width);
  margin-left: auto;
  margin-right: auto;
}
