.msrd .msrd-Section {
  margin-bottom: var(--space-vertical-12);
  padding-left: var(--space-horizontal);
  padding-right: var(--space-horizontal);
}

@media (min-width: 48em) {
  .msrd .msrd-Section {
    margin-bottom: var(--space-vertical-14);
  }
}

.msrd .msrd-Section-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--section-max-width);
}
