.msrd .msrd-Contact {
  text-align: center;
}

.msrd .msrd-Contact-rule {
  margin-bottom: var(--space-vertical-04);
  margin-top: var(--space-vertical-04);
}

@media (min-width: 48em) {
  .msrd .msrd-Contact-rule {
    margin-bottom: var(--space-vertical);
    margin-top: var(--space-vertical);
  }
}

@media (prefers-color-scheme: dark) {
  .msrd .msrd-Contact a:not([class]) {
    color: var(--color-interactive-neutral);
  }

  @media (hover: hover) {
    .msrd .msrd-Contact a:not([class]):hover {
      color: var(--color-interactive-neutral-hover);
    }
  }

  .msrd .msrd-Contact a:not([class]):active {
    color: var(--color-interactive-neutral-active);
  }
}
