.msrd .msrd-Contact {
  text-align: center;
}

.msrd .msrd-Contact-rule {
  margin-block: var(--space-vertical-04);
}

@media (min-width: 48em) {
  .msrd .msrd-Contact-rule {
    margin-block: var(--space-vertical);
  }
}

.msrd .msrd-Contact a:not([class]) {
  color: var(--color-interactive-neutral);
}

@media (hover: hover) {
  .msrd .msrd-Contact a:not([class]):hover {
    color: var(--color-interactive-neutral-hover);
  }
}

.msrd .msrd-Contact a:not([class]):active {
  color: var(--color-interactive-neutral-active);
}

.msrd .msrd-Contact-email {
  display: inline-flex;
  gap: var(--space-horizontal);
}
