.msrd .msrd-SiteFooter {
  color: var(--color-text-muted);
  margin-block-start: auto;
  padding-block-end: var(--space-vertical);
  padding-inline: var(--space-horizontal);
  position: relative;
}

@media (min-width: 48em) {
  .msrd .msrd-SiteFooter {
    padding-block-end: var(--space-vertical-06);
    padding-inline: var(--space-horizontal-07);
  }
}

.msrd .msrd-SiteFooter-inner {
  display: grid;
  gap: var(--space-vertical) var(--space-horizontal);
  margin-inline: auto;
  max-inline-size: var(--section-max-width);
}

@media (min-width: 48em) {
  .msrd .msrd-SiteFooter-inner {
    align-items: end;
    grid-template-columns: repeat(12, 1fr);
    justify-items: start;
  }

  .msrd .msrd-SiteFooter-inner > :first-child {
    grid-column-end: span 2;
  }

  .msrd .msrd-SiteFooter-inner > :nth-child(2) {
    grid-column-end: span 4;
  }

  .msrd .msrd-SiteFooter-inner > :nth-child(3) {
    grid-column-end: span 4;
  }

  .msrd .msrd-SiteFooter-inner > :last-child {
    grid-column-end: span 2;
    justify-self: end;
  }
}

@media (min-width: 53em) {
  .msrd .msrd-SiteFooter-inner > :first-child {
    grid-column-end: span 3;
  }

  .msrd .msrd-SiteFooter-inner > :nth-child(3) {
    grid-column-end: span 3;
  }
}

@media (min-width: 76.25em) {
  .msrd .msrd-SiteFooter-inner > :first-child,
  .msrd .msrd-SiteFooter-inner > :nth-child(2) {
    grid-column-end: span 4;
  }

  .msrd .msrd-SiteFooter-inner > :nth-child(3) {
    grid-column-end: span 2;
  }
}

.msrd .msrd-SiteFooter ul {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}

.msrd .msrd-SiteFooter li {
  padding-block-start: var(--space-vertical-01);
}

.msrd .msrd-SiteFooter a:not([class]) {
  color: var(--color-interactive-neutral);
}

@media (hover: hover) {
  .msrd .msrd-SiteFooter a:not([class]):hover {
    color: var(--color-interactive-neutral-hover);
  }
}

.msrd .msrd-SiteFooter a:not([class]):active {
  color: var(--color-interactive-neutral-active);
}

.msrd .msrd-SiteFooter-logo:has(:focus-visible) {
  border-radius: var(--border-radius-focus);
  outline: var(--outline-width) solid var(--color-interactive-focus);
  outline-offset: var(--outline-width);
}

@media (min-width: 48em) {
  .msrd .msrd-SiteFooter-logo {
    margin-block-end: var(--space-vertical-02);
  }
}

.msrd .msrd-SiteFooter-logoLink,
.msrd .msrd-SiteFooter-logoLink:hover,
.msrd .msrd-SiteFooter-logoLink:active {
  color: var(--color-logo);
}

.msrd .msrd-SiteFooter-textWithIcon {
  display: flex;
  gap: var(--space-horizontal-03);
}
