.clbr .msrd-SiteFooter {
  color: var(--color-text-muted);
  margin-block-start: auto;
  padding-block-end: var(--space-vertical);
  position: relative;
}

@media (min-width: 48em) {
  .clbr .msrd-SiteFooter {
    padding-block-end: var(--space-vertical-06);
  }
}

.clbr .msrd-SiteFooter-inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-vertical);
  margin-inline: auto;
  max-inline-size: var(--furniture-max-width);
  padding-inline: var(--space-horizontal);
}

.clbr .msrd-SiteFooter-inner > div {
  display: flex;
  flex-direction: column;
  gap: var(--space-horizontal);
}

@media (min-width: 48em) {
  .clbr .msrd-SiteFooter-inner {
    flex-direction: row;
    gap: var(--space-horizontal-07);
    justify-content: space-between;
    padding-inline: var(--space-horizontal-06);
  }

  .clbr .msrd-SiteFooter-inner > div {
    align-items: end;
    flex-direction: row;
    gap: var(--space-horizontal-07);
  }
}

.clbr .msrd-SiteFooter ul {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}

.clbr .msrd-SiteFooter li {
  block-size: var(--space-vertical);
  white-space: nowrap;
}

.clbr .msrd-SiteFooter a:not([class]) {
  color: var(--color-interactive-neutral);
}

@media (hover: hover) {
  .clbr .msrd-SiteFooter a:not([class]):hover {
    color: var(--color-interactive-neutral-hover);
  }
}

.clbr .msrd-SiteFooter a:not([class]):active {
  color: var(--color-interactive-neutral-active);
}

.clbr .msrd-SiteFooter-logo:has(:focus-visible) {
  border-radius: var(--border-radius-focus);
  outline: var(--outline-width) solid var(--color-interactive-focus);
  outline-offset: var(--outline-width);
}

@media (min-width: 48em) {
  .clbr .msrd-SiteFooter-logo {
    margin-block-end: var(--space-vertical-02);
  }
}

.clbr .msrd-SiteFooter-logoLink,
.clbr .msrd-SiteFooter-logoLink:hover,
.clbr .msrd-SiteFooter-logoLink:active {
  color: var(--color-logo);
}

.clbr .msrd-SiteFooter-textWithIcon {
  align-items: center;
  display: inline-flex;
  gap: var(--space-horizontal-03);
}
