.clbr .msrd-Section {
  container-type: inline-size;
  margin-inline: auto;
  max-inline-size: var(--clbr-layout-container-max-width-default);
  padding-inline: var(--clbr-spacing-horizontal-600);
}

@media (min-width: 48em) {
  .clbr .msrd-Section {
    padding-inline: var(--clbr-spacing-horizontal-800);
  }
}

.clbr .msrd-Section--full {
  padding-inline: 0;
}

.clbr .msrd-Section--full {
  max-inline-size: 100%;
}
