.msrd .msrd-Section {
  padding-inline: var(--space-horizontal);
}

@media (min-width: 48em) {
  .msrd .msrd-Section {
    padding-inline: var(--space-horizontal-07);
  }
}

.msrd .msrd-Section-inner {
  margin-inline: auto;
  max-inline-size: var(--section-max-width);
}

.msrd .msrd-Section--full {
  padding-inline: 0;
}

.msrd .msrd-Section--full .msrd-Section-inner {
  max-inline-size: 100%;
}
