.msrd .msrd-Section {
  padding-left: var(--space-horizontal);
  padding-right: var(--space-horizontal);
}

@media (min-width: 48em) {
  .msrd .msrd-Section {
    padding-left: var(--space-horizontal-07);
    padding-right: var(--space-horizontal-07);
  }
}

.msrd .msrd-Section-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--section-max-width);
}

.msrd .msrd-Section--full {
  padding-left: 0;
  padding-right: 0;
}

.msrd .msrd-Section--full .msrd-Section-inner {
  max-width: 100%;
}
