.msrd .msrd-Rule {
  background-color: var(--color-rule);
  block-size: var(--rule-height);
  border: 0;
  color: var(--color-rule);
  inline-size: var(--rule-width);
  margin: 0;
}

.msrd .msrd-Rule--center {
  margin-block: 0;
  margin-inline: auto;
}
