.msrd .msrd-Heading {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-wrap: balance;
}

.msrd .msrd-Heading--6 {
  font-size: var(--font-02-size);
  font-weight: 533;
  line-height: var(--font-02-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Heading--6 {
    font-size: var(--font-03-size);
    line-height: var(--font-03-line-height);
  }
}

.msrd .msrd-Heading--5 {
  font-size: var(--font-03-size);
  font-weight: 500;
  line-height: var(--font-03-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Heading--5 {
    font-size: var(--font-04-size);
    line-height: var(--font-04-line-height);
  }
}

.msrd .msrd-Heading--4 {
  font-size: var(--font-04-size);
  font-weight: 466;
  line-height: var(--font-04-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Heading--4 {
    font-size: var(--font-05-size);
    line-height: var(--font-05-line-height);
  }
}

.msrd .msrd-Heading--3 {
  font-size: var(--font-05-size);
  font-weight: 433;
  line-height: var(--font-05-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Heading--3 {
    font-size: var(--font-06-size);
    line-height: var(--font-06-line-height);
  }
}

.msrd .msrd-Heading--2 {
  font-size: var(--font-07-size);
  font-weight: 400;
  line-height: var(--font-07-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Heading--2 {
    font-size: var(--font-08-size);
    line-height: var(--font-08-line-height);
  }
}

.msrd .msrd-Heading--1 {
  font-size: var(--font-09-size);
  font-weight: 366;
  line-height: var(--font-09-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Heading--1 {
    font-size: var(--font-10-size);
    line-height: var(--font-10-line-height);
  }
}

.msrd .msrd-Heading--display3 {
  font-size: var(--font-10-size);
  font-weight: 300;
  line-height: var(--font-10-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Heading--display3 {
    font-size: var(--font-11-size);
    line-height: var(--font-11-line-height);
  }
}

.msrd .msrd-Heading--display2 {
  font-size: var(--font-11-size);
  font-weight: 250;
  line-height: var(--font-11-line-height);
}

@media (min-width: 48em) {
  .msrd .msrd-Heading--display2 {
    font-size: var(--font-12-size);
    line-height: var(--font-12-line-height);
  }
}

/* .msrd .msrd-Heading--display1 {
  font-size: var(--font-10-size);
  font-weight: 300;
  line-height: var(--font-10-line-height);
}

@media (min-width: 30em) { */
.msrd .msrd-Heading--display1 {
  font-size: var(--font-12-size);
  font-weight: 200;
  line-height: var(--font-12-line-height);
}
/* } */

@media (min-width: 48em) {
  .msrd .msrd-Heading--display1 {
    font-size: var(--font-13-size);
    line-height: var(--font-13-line-height);
  }
}

.msrd-Heading--left {
  text-align: start;
}

.msrd-Heading--center {
  text-align: center;
}

.msrd-Heading--right {
  text-align: end;
}
