.clbr .msrd-Heading {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-wrap: balance;
}

.clbr .msrd-Heading--6 {
  font-size: var(--clbr-typography-type-step-200-font-size);
  font-weight: 533;
  line-height: var(--clbr-typography-type-step-200-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--6 {
    font-size: var(--clbr-typography-type-step-300-font-size);
    line-height: var(--clbr-typography-type-step-200-line-height);
  }
}

.clbr .msrd-Heading--5 {
  font-size: var(--clbr-typography-type-step-300-font-size);
  font-weight: 500;
  line-height: var(--clbr-typography-type-step-200-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--5 {
    font-size: var(--clbr-typography-type-step-400-font-size);
    line-height: var(--clbr-typography-type-step-200-line-height);
  }
}

.clbr .msrd-Heading--4 {
  font-size: var(--clbr-typography-type-step-400-font-size);
  font-weight: 466;
  line-height: var(--clbr-typography-type-step-200-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--4 {
    font-size: var(--clbr-typography-type-step-500-font-size);
    line-height: var(--clbr-typography-type-step-200-line-height);
  }
}

.clbr .msrd-Heading--3 {
  font-size: var(--clbr-typography-type-step-500-font-size);
  font-weight: 433;
  line-height: var(--clbr-typography-type-step-200-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--3 {
    font-size: var(--clbr-typography-type-step-600-font-size);
    line-height: var(--clbr-typography-type-step-200-line-height);
  }
}

.clbr .msrd-Heading--2 {
  font-size: var(--clbr-typography-type-step-700-font-size);
  font-weight: 400;
  line-height: var(--clbr-typography-type-step-700-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--2 {
    font-size: var(--clbr-typography-type-step-800-font-size);
    line-height: var(--clbr-typography-type-step-800-line-height);
  }
}

.clbr .msrd-Heading--1 {
  font-size: var(--clbr-typography-type-step-900-font-size);
  font-weight: 366;
  line-height: var(--clbr-typography-type-step-900-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--1 {
    font-size: var(--clbr-typography-type-step-1000-font-size);
    line-height: var(--clbr-typography-type-step-1000-line-height);
  }
}

.clbr .msrd-Heading--display3 {
  font-size: var(--clbr-typography-type-step-1000-font-size);
  font-weight: 300;
  line-height: var(--clbr-typography-type-step-1000-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--display3 {
    font-size: var(--clbr-typography-type-step-1100-font-size);
    line-height: var(--clbr-typography-type-step-1100-line-height);
  }
}

.clbr .msrd-Heading--display2 {
  font-size: var(--clbr-typography-type-step-1100-font-size);
  font-weight: 250;
  line-height: var(--clbr-typography-type-step-1100-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--display2 {
    font-size: var(--clbr-typography-type-step-1200-font-size);
    line-height: var(--clbr-typography-type-step-1200-line-height);
  }
}

/*
 * Special handling for long client name in work page
 */

.clbr .msrd-Heading--display1 {
  font-size: var(--clbr-typography-type-step-1000-font-size);
  font-weight: 300;
  line-height: var(--clbr-typography-type-step-1000-line-height);
}

@media (min-width: 24em) {
  .clbr .msrd-Heading--display1 {
    font-size: var(--clbr-typography-type-step-1100-font-size);
    font-weight: 250;
    line-height: var(--clbr-typography-type-step-1100-line-height);
  }
}

@media (min-width: 48em) {
  .clbr .msrd-Heading--display1 {
    font-size: var(--clbr-typography-type-step-1300-font-size);
    font-weight: 200;
    line-height: var(--clbr-typography-type-step-1300-line-height);
  }
}

.msrd-Heading--left {
  text-align: start;
}

.msrd-Heading--center {
  text-align: center;
}

.msrd-Heading--right {
  text-align: end;
}
