.msrd-Date {
  font-size: var(--clbr-typography-type-step-300-font-size);
  line-height: var(--clbr-typography-type-step-300-line-height);
}

@media (min-width: 48em) {
  .clbr .msrd-Date {
    font-size: var(--clbr-typography-type-step-450-font-size);
    line-height: var(--clbr-typography-type-step-450-line-height);
  }
}

.msrd-Date-label {
  &::after {
    content: ":";
  }

  @media (min-width: 48em) {
    display: block;

    &::after {
      content: "";
    }
  }
}
