.clbr .msrd-Blockquote {
  font-size: var(--clbr-typography-type-step-400-font-size);
  line-height: var(--clbr-typography-type-step-200-line-height);
  margin-block: var(--clbr-spacing-vertical-800);
}

.clbr .msrd-Blockquote:first-child {
  margin-block-start: 0;
}

@media (min-width: 48em) {
  .clbr .msrd-Blockquote {
    font-size: var(--clbr-typography-type-step-500-font-size);
    line-height: var(--clbr-typography-type-step-200-line-height);
  }
}

.clbr .msrd-Blockquote blockquote {
  margin: 0;
}

.clbr .msrd-Blockquote-quote {
  --color-text-prose: var(--clbr-color-foreground-default);
  margin-block-start: 0;
  margin-block-end: var(--clbr-spacing-vertical-600);
  quotes: "“" "”" "‘" "’";
}

.clbr .msrd-Blockquote-quote::before {
  content: open-quote;
  margin-inline-start: -0.81ch;
}

.clbr .msrd-Blockquote-quote::after {
  content: close-quote;
}

.clbr .msrd-Blockquote-cite {
  font-size: var(--clbr-typography-type-step-200-font-size);
  line-height: var(--clbr-typography-type-step-200-line-height);
  margin-block: 0;
  text-align: end;
}

@media (min-width: 48em) {
  .clbr .msrd-Blockquote-cite {
    font-size: var(--clbr-typography-type-step-300-font-size);
    line-height: var(--clbr-typography-type-step-200-line-height);
  }
}

.clbr .msrd-Blockquote--measured {
  max-inline-size: calc(var(--clbr-typography-measure-default) * 0.9);
}
